---
layout: default
---

<section id="status_quo">
  {% include section_1-status_quo.html %}
</section>
<section id="founders">
  {% include section_2-founders.html %}
</section>
<section id="stakeholders">
  {% include section_3-stakeholders.html %}
</section>
<section id="summary">
  {% include section_4-summary.html %}
</section>
<section id="main">
  {% include section_5-main.html %}
</section>
<section id="implications">
  {% include section_6-implications.html %}
</section>
<section id="further">
  {% include section_7-further.html %}
</section>

