<div id="c-banner" class="fixed bottom-0 z-50 bg-black text-white w-full p-4" aria-label="Cookie consent banner">
    <p class="py-2 text-sm m-0">This website uses cookies and similar technologies to understand how you use our
        website, to create a better experience
        for you.</p>
    <div class="flex space-x-2 items-center">
        <button id="c-banner-accept" class="text-sm m-0 px-4 bg-blue text-white hover:bg-lime hover:text-black">
            Allow
        </button>
        <button id="c-banner-deny" class="text-sm m-0 px-4  text-white hover:bg-lime hover:text-black">
            Deny</button>
        <a class="text-sm no-underline" href="https://www.founderland.org/privacy-policy" target="_blank">Learn More</a>

    </div>
</div>