<div class="flex flex-col bg-black text-white w-full footer " x-intersect:enter="bottom=true"
    x-intersect:leave="bottom=false">
    <div class="w-full flex justify-between p-4 ">
        <div class="made flex justify-end items-center space-x-2 px-4">
            <div>
                <p>Made by</p>
                <a href="https://www.founderland.org" target="_blank"><img class="w-32 md:w-40"
                        src="assets/images/logos/logo-wh.svg" alt="Founderland Logo"></a>
            </div>
            <div class="symbol Warmth symred"></div>
        </div>

        <div class="flex justify-end space-x-4 pr-4">
            <a href="https://twitter.com/founderland_/" target="_blank" alt="Twitter" class="text-white"><img
                    src="assets/images/logos/twitter.svg"></a>
            <a href="https://www.instagram.com/founderland_/" target="_blank" alt="Instagram" class="text-white"><img
                    src="assets/images/logos/instagram.svg"></a>
            <a href="https://www.linkedin.com/company/founderland/" target="_blank" alt="LinkedIn"
                class="text-white"><img src="assets/images/logos/linkedin.svg"></a>
            <a href="https://thisisfounderland.substack.com/" target="_blank" alt="Substack" class="text-white"><img
                    class="w-4 h-4" src="assets/images/logos/substack.svg"></a>
        </div>
    </div>
    <div class="flex-grow py-8">
        <div class="w-full flex flex-col px-10">
            <p>WE’RE HERE TO BUILD A NEW INCLUSIVE, INTERSECTIONAL STANDARD FOR ENTREPRENEURS
            </p>
            <p class="mt-8 px-12">Join our community:</p>
            <div class="w-full flex flex-col md:flex-row justify-around space-y-4 md:space-x-4 p-10">
                <div class="flex justify-start items-center space-x-2">
                    <div class="symbol For symred"></div><a href="https://community.founderland.org/form/founder"
                        target="_blank">Join as Founder</a>
                </div>
                <div class="flex justify-start items-center space-x-2">
                    <div class="symbol Invest symblue"></div><a href="https://community.founderland.org/form/investor"
                        target="_blank">Join as Investor</a>
                </div>
                <div class="flex justify-start items-center space-x-2">
                    <div class="symbol Moving symlime"></div><a href="https://community.founderland.org/form/ally"
                        target="_blank">Join as Ally</a>
                </div>
            </div>

        </div>
    </div>
    <div class="flex justify-center p-4">
        <span class="text-xs">© 2023 Founderland gUG
            (haftungsbeschränkt)</span>
    </div>
</div>