<div class="burger cursor-pointer" :class="{'w-12 h-12': !scrolledFromTop, 'w-24 h-24': scrolledFromTop}"></div>
<div class="overlay transition-colors duration-300">
    <nav class=" transition-all duration-200">
        <a href="#title-page">
            <div class="logo"></div>
        </a>
        <ul>
            <li class=" flex">
                <a class="flex nav-section-0 nav-parent" href="#section-0">
                    <div class="symbol Blooming"></div>
                    Foreword
                </a>
            </li>
            <li>
                <a class="flex nav-section-1 nav-parent" href="#section-1">
                    <div class="symbol Visibility"></div>01. Our
                    Lens
                </a>
            </li>
            <li>
                <a class="flex nav-section-2 nav-parent" href="#section-2">
                    <div class="symbol Forward"></div>02. Our Findings
                </a>
                <ul>
                    <li><a class="nav-parent" href="#2-1">Intersectionality</a>
                        <ul>
                            <li><a class="nav-child" href="#2-1-1">What is Intersectionality?</a></li>
                            <li><a class="nav-child" href="#2-1-2">Implications in the Entrepreneurial Ecosystem</a>
                            </li>
                        </ul>
                    </li>
                    <li><a class="nav-parent" href="#2-2">Motivators</a>
                        <ul>
                            <li><a class="nav-child" href="#2-2-1">Introduction</a></li>
                            <li><a class="nav-child" href="#2-2-2">The Glass Ceiling</a></li>
                            <li><a class="nav-child" href="#2-2-3">Mission. Purpose. Passion.</a></li>
                        </ul>
                    </li>
                    <li><a class="nav-parent" href="#2-3">Challenges</a>
                        <ul>
                            <li><a class="nav-parent" href="#2-3-1">Homophily Networks</a>
                                <ul>
                                    <li><a class="nav-child" href="#2-3-1-1">Opposites don’t always attract</a></li>
                                    <li><a class="nav-child" href="#2-3-1-2">Access to Information</a></li>
                                    <li><a class="nav-child" href="#2-3-1-3">Access to Network</a></li>
                                    <li><a class="nav-child" href="#2-3-1-4">Risk Perception</a></li>
                                </ul>
                            </li>
                            <li><a class="nav-child" href="#2-3-2">Prejudice</a></li>
                            <li><a class="nav-child" href="#2-3-3">Funding</a></li>
                            <li><a class="nav-child" href="#2-3-4">Diversity Washing</a></li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li>
                <a class="flex nav-section-3 nav-parent" href="#section-3">
                    <div class="symbol Emerging"></div>03.
                    Implications
                </a>
                <ul>
                    <li><a class="nav-child" href="#3-1">Founders</a></li>
                    <li><a class="nav-child" href="#3-2">Investors</a></li>
                    <li><a class="nav-child" href="#3-3">Policymakers</a></li>

                </ul>
            </li>
            <li>
                <a class="flex nav-section-4 nav-parent" href="#section-4">
                    <div class="symbol Goals"></div>04. The Makings of a Founder
                </a>
                <ul>
                    <li><a class="nav-child" href="#4-1">Meet the Rise & Thrive Founders</a></li>
                    <li><a class="nav-child" href="#4-2">Making of a Founder (On a Macro Level)</a></li>

                </ul>
            </li>
            <li>
                <a class="flex nav-section-5 mt-6 nav-parent" href="#section-5">
                    <div class="symbol Intersectional"></div>05.
                    Behind the Report
                </a>
                <ul>
                    <li><a class="nav-child" href="#5-1">Team</a></li>
                    <li><a class="nav-child" href="#5-2">Methodology</a></li>
                </ul>
            </li>
            <li>
                <a class="flex nav-section-6 nav-parent" href="#section-6">
                    <div class="symbol Security"></div>06. Sources &
                    Glossary
                </a>
                <ul>
                    <li><a class="nav-child" href="#6-1">Citations</a></li>
                    <li><a class="nav-child" href="#6-2">Glossary</a></li>
                </ul>
            </li>
        </ul>
    </nav>
</div>