<div class="burger md:hidden"></div>
<nav class="md:sticky md:block top-8 transition-all duration-200">
    <img class="w-8 mb-6" src="assets/images/Rise&Thrive_Emblem.svg" alt="Rise & Thrive Report Mountain Emblem">
    <ul>
        <li class="close md:hidden"></li>
        <li>
            <a class="nav-parent" href="#our_lens"><i class="symbol Visibility"></i>Our Lens</a>
            <ul>
                <li><a href="#1-1">Behind the Report</a></li>
                <li><a href="#1-2">Methodology</a></li>
                <li><a href="#1-3">Stakeholders</a></li>
            </ul>
        </li>
        <li>
            <a class="nav-parent" href="#founders"><i class="symbol Forward"></i>About the Founders</a>
            <ul>
                <li class="nav-child"><a href="#2-1">Making of a Founder</a></li>
                <li class="nav-child"><a href="#2-2">Macro Context</a></li>
            </ul>
        </li>
        <li>
            <a class="nav-parent" href="#findings"><i class="symbol Emmerging"></i>Key Findings</a>
            <ul>
                <li><a class="nav-child" href="#3-1">Summary</a></li>
                <li><a class="nav-child" href="#3">Intersectionality</a></li>
                <li><a class="nav-child" href="#3">Motivators</a></li>
                <li><a class="nav-child" href="#3">Challenges</a></li>
                <li><a class="nav-child" href="#3">Coping & Strategies</a></li>
            </ul>
        </li>
        <li>
            <a class="nav-parent" href="#now"><i class="symbol Goals"></i>What Now</a>
        </li>
        <li>
            <a class="mt-6 nav-parent text-gray-dark" href="#further">Further Resources</a>
        </li>
        <li>
            <a class="nav-parent text-gray-dark" href="#further">Citations & Glossary</a>
        </li>
    </ul>
    <div class="overlay transition-colors duration-300"></div>
</nav>
<!---
- our lens 
    - behind the report
    - methodology
    - stakeholders
- about the founders
    - making of a founder 
    - macro context
- key findings 
    - summary 
    - intersectionality 
    - motivators 
    - challenges 
    - coping & strategies 
- what now
---
- further resources 
- citations & glossary
...


--->