<div class="burger md:hidden"></div>
<nav class="md:sticky hidden md:block top-8">
    <ul class="transition-all duration-200">
        <li class="close"></li>
        <li><a href="#">Our Lens</a></li>
        <li><a href="#">About the Founders</a></li>
        <li><a href="#">Stakeholders</a></li>
        <li><a href="#">Key Findings</a></li>
        <li><a href="#">What now</a></li>
        <li><a href="#">Further Resources</a></li>
    </ul>
    <div class="overlay transition-colors duration-300"></div>
</nav>
  
<!-- 
TODO:
[] make sure the checkbox hack can't apply on md screens
[] touch target areas for close, hamburger and nav items
-->