<!-- 
    source: https://docs.google.com/document/d/1ia16SGZszPCb2LuwcQEVMlAD5S0TjTuMebZGZ3f6NTA/edit?skip_itp2_check=true#
    last updated: 24 sept
-->

<div class="section-head">
    <div class="symbol1 symbol Forward"></div>
    <div class="symbol2 symbol Calm"></div>
    <div class="symbol3 symbol Value"></div>
    <div class="symbol4 symbol No"></div>
    <div class="symbol5 symbol Moving"></div>
    <div class="img">
        <img class="object-contain" src="assets/images/section2.jpg"
            alt="Women of Color working on a laptop looking at the camera smiling">
    </div>
    <div class="title-card">
        <h1 class="mb-0">02.<br>Our<br>Findings
        </h1>
    </div>
</div>
<div class="section-content">
    <div id="2-1" x-intersect="topColor= 'red'">
        <h2>Intersectionality & Motivations</h2>
        <div id="2-1-1">
            <h3>What is intersectionality?</h3>
            <p>The term intersectionality was first coined in 1989 by American professor Kimberlé Crenshaw to describe
                how
                systems of
                inequality based on gender, race, ethnicity, sexual orientation, gender identity, disability, class, and
                other
                forms of
                discrimination “intersect” to create unique experiences of oppression and privilege.
                <sup>
                    <a href="https://www.intersectionaljustice.org/what-is-intersectionality" target="_blank">1</a>,
                    <a href="https://www.womankind.org.uk/intersectionality-101-what-is-it-and-why-is-it-important/#:~:text=Intersectionality%20is%20the%20acknowledgement%20that,orientation%2C%20physical%20ability%2C%20etc."
                        target="_blank">2</a>,
                    <a href="https://www.vox.com/the-highlight/2019/5/20/18542843/intersectionality-conservatism-law-race-gender-discrimination"
                        target="_blank">3</a>
                </sup>
            </p>
            <div class="mixed-col">
                <div class="md:col-span-6"><img class=" img" src="assets/images/vis/section-2/SUCCESS.png"
                        alt="Ilustration of two roads, one is clear and the other one is paved with obstacles, both roads lead to the same finish line">
                </div>
                <div class="md:flex md:flex-grow md:justify-center md:items-center md:col-span-6">
                    <p>The theory of intersectionality acknowledges that the interconnection between social
                        categorizations
                        such
                        as
                        age,
                        gender, ethnicity, and socio-economic status can expose individuals to advantages and
                        disadvantages
                        that
                        uniquely shape
                        their experiences, as well as their social standing. The concept can be seen in almost all
                        facets of
                        life.
                        For
                        example,
                        Black women face disadvantages based on both race and gender. <sup><a
                                href="https://helpfulprofessor.com/examples-of-intersectionality/"
                                target="_blank">4</a></sup>
                        Similarly, working-class gay men might face
                        discrimination due to both their social class and sexual identity. For instance, there’s a wage
                        gap
                        between
                        men
                        and
                        women, but also between Black men and white women. In the US, a Black man and a white woman make
                        $0.74
                        and
                        $0.78
                        to a
                        white man's dollar. <sup><a
                                href="https://www.intersectionaljustice.org/what-is-intersectionality"
                                target="_blank">5</a></sup></p>
                </div>

            </div>
        </div>
        <div id="2-1-2">
            <h3>Implications in the Entrepreneurial Ecosystem</h3>
            <p>The theory of intersectionality suggests that all forms of inequality are “mutually reinforcing and must
                therefore be
                analysed and addressed simultaneously to prevent one form from reinforcing "another". <sup><a
                        href="https://www.ywboston.org/2017/03/what-is-intersectionality-and-what-does-it-have-to-do-with-me/#:~:text=Intersectionality%20recognizes%20that%20identity%20markers,a%20white%20man%27s%20dollar%2C%20respectively."
                        target="_blank">6</a></sup></p>
            <p>In Germany, there has been a significant uptake in DEI initiatives in the entrepreneurial ecosystem
                targeted
                at
                single
                dichotomy networks like women entrepreneurs or migrant founders. While created with positive intentions,
                research has
                found that creating these homogenous groups can be counterproductive, for example, by further
                marginalising
                minorities
                within the group, since a single-dichotomy network doesn’t adequately respond to intersectional
                discrimination.
            </p>
            <p>At Founderland, we’re dedicated to supporting women of colour founders, whose intersecting identities
                present
                them with
                needs and challenges that couldn’t be addressed by a group that focused on founders who are women or
                founders
                who are
                people of colour. While it’s not possible to completely address all forms of discrimination
                simultaneously,
                we’re
                looking at ways that this group of founders’ experiences might be affected through multiple lenses. The
                report
                aims to
                shed light on the heterogeneity of women entrepreneurs, and how they are distinctly positioned in their
                journeys
                by
                factors tied into and beyond their gender, including socio-economic status, ethnicity, age, and parental
                status.
            </p>
        </div>
    </div>

    <div id="2-2">
        <h3>Motivators</h3>
        <div id="2-2-1">
            <figure class="relative bg-red text-white">
                <span class="quote text-white">"</span>
                <blockquote cite="">
                    <p>Most entrepreneurs are born out of either opportunity, or necessity.</p>
                </blockquote>
            </figure>
            <div>
                <p>Men and women founders alike are influenced to start a business by factors such as psychological
                    motivations, for
                    example, economic necessity, environmental influence, and opportunities for social mobility. <sup><a
                            href="https://www.researchgate.net/publication/228270828_Barriers_to_Women_Achieving_Their_Entrepreneurial_Potential_Women_and_Risk"
                            target="_blank">1</a></sup></p>
                <p>
                    However, as the idea of intersectionality suggests, people’s life experiences, their identities, and
                    where they fit
                    into
                    social constructs can play a major role in their lives. Research shows that the general motivations
                    for
                    men and
                    women to
                    start their businesses are similar overall, however, we wanted to see what the most common
                    motivations
                    might be
                    among
                    women of colour founders, who often face multiple intersectional challenges because of their race,
                    ethnicity,
                    gender,
                    socio-economic status, and migration status.
                </p>
                <p>The founders in our study highlighted three reasons for wanting to start their venture:</p>
                <ul>
                    <li>Experiences of Discrimination</li>
                    <li>Passion. Purpose. Freedom.</li>
                    <li>Background & Prior Experience</li>
                </ul>

            </div>
            <h3>Experiences of Discrimination</h3>
            <p>Discrimination is an all-encompassing term for unjust treatment based on the groups, classes, and
                categories that an
                individual belongs to or is perceived to belong to 2, 3.</p>
            <p>While speaking with founders during the research process, we noted experiences of discrimination as a
                major reason these
                founders decided to start their ventures.</p>
            <figure class="relative md:col-span-7">
                <span class="quote text-red">"</span>
                <blockquote>I felt like I was hitting a ceiling and it already took a lot for me to get there… and
                    having
                    kids did not help. It
                    made people not consider me for new positions and opportunities. That's where I said, ‘Okay if I'm
                    going
                    to create
                    something, move up, and build my own success story, I have to do my own thing. ’
                </blockquote>
                <figcaption>Interview Participant</figcaption>
            </figure>
        </div>
        <div id="2-2-2">
            <h3>The Glass Ceiling</h3>

            <div class="mixed-col justify-center mb-8">
                <div class="md:col-span-7 md:pt-8">
                    <p>One of the most notable forms of discrimination faced by this demographic of founders before
                        starting
                        their companies
                        was the prejudicial barriers that hindered career mobility, also known as “The Glass Ceiling”.
                        The
                        glass
                        ceiling is an
                        unacknowledged barrier to professional advancement due to discrimination such as racism and
                        sexism.
                        It
                        especially
                        affects women and members of minority communities 4.
                    </p>
                    <p>Research has found that the appealing opportunity to have more control over their careers is a
                        major
                        motivator for women
                        to leave their corporate careers to pursue entrepreneurial endeavours 5, pg. 4. According to the
                        second
                        annual Global
                        Entrepreneurship survey, 61% of founders shared that becoming their own boss was a motivator for
                        starting their company.
                        62% of women cited unfair treatment such as fewer opportunities (33%) for promotion and unequal
                        pay
                        (31%) in previous
                        roles as the catalyst for starting a business.</p>
                    <p>Similarly, 43% of the women surveyed shared that they delayed starting a family for fear that it
                        would
                        negatively impact
                        their careers, while 25% of the women surveyed shared that they faced pregnancy discrimination
                        6, 7.
                        Another study found
                        that women with children are 79% less likely to be hired than women without children 8. In
                        Germany, a
                        survey conducted
                        by the anti-discrimination agency found that six percent of women had been asked if they were
                        pregnant
                        even though such
                        a question is inadmissible by law 9.
                    </p>
                </div>
                <div class="md:col-span-5">
                    <h3 class="border-l-0 mt-4 pl-0"><strong class="text-red">Why</strong> did you start your business?
                    </h3>
                    <p class="color-gray">Multiple Choice</p>
                    <img class="mx-auto" src="assets/images/vis/section-2/why-did-you-start-your-business-min.svg"
                        alt="data visualisation: 61% of founders shared that becoming their own boss was a motivator for starting their company. 62% of women cited unfair treatment.">
                    <h3 class="border-l-0 mt-4 pl-0">Of those who <strong class="text-red-400">cited unfair
                            treatment</strong>
                    </h3>
                    <img class="mx-auto" src="assets/images/vis/section-2/of-those-who-cited-unfair-treatment-min.svg"
                        alt="data visualisation: reasons for unfair treatment included 33% for promotion and unequal pay and 31% in previous roles">
                </div>
            </div>


            <div class="mixed-col mb-8">
                <div class="md:col-span-5">
                    <img class="mx-auto" src="assets/images/vis/section-2/work-family-tradeoff-1-min.svg"
                        alt="data visualisation: 43% of women delayed starting a family for fear it would impact their careers">
                </div>
                <div class="md:col-span-2 flex items-center mt-4 w-full">
                    <h4 class="w-full text-center">And of those that do</h4>
                </div>
                <div class="md:col-span-5">
                    <img class="mx-auto" src="assets/images/vis/section-2/work-family-tradeoff-2-min.svg" alt="data visualisation: 79% of women with children reported being less likely to be hired 
                                        than women without children">
                </div>
            </div>


            <p>Through our interviews, the founders shared that having children stagnated their career growth and often
                led to
                employers questioning their ability to focus and commit to full-time employment. As a result,
                entrepreneurship became a
                more enticing opportunity as it allows them to take back control of their career.
                Sadly, other founders shared that despite their desire to stay in the workforce, experiences of racism
                and
                discrimination forced them out.
            </p>

            <figure class="relative">
                <span class="quote text-red">"</span>
                <blockquote>I was forced to leave my job because of discrimination, and after that, I became so lonely
                    and
                    isolated... The idea (for
                    my business) came because I asked myself, 'Why do people hate each other or discriminate?' The
                    answer is
                    because they
                    don't know each other.</blockquote>
                <figcaption>- Interview Participant</figcaption>
            </figure>
            <div>
                <p>Experiences of discrimination take on numerous forms. For some, it can occur before getting a job.
                    For
                    example, the
                    German Federal Anti-Discrimination agency found that people with "foreign-sounding names" were 24%
                    less
                    likely than
                    those with German names to be called in for an interview 10. Similarly, 18% of respondents surveyed
                    shared
                    that they
                    were asked if German was their native language and 15% what their religious affiliation was 11.
                    Findings
                    like these
                    indicate that discrimination can have a significant impact on employment opportunities. </p>
                <p>
                    Unfortunately, discrimination doesn’t stop at recruiting. In Germany, workplace discrimination is
                    becoming
                    increasingly
                    prevalent. Before the pandemic, workplace discrimination was growing by 10-15% annually in Germany,
                    which
                    saw a
                    significant increase to almost 79% during the pandemic 12. According to the Global Entrepreneurship
                    survey,
                    62% of women
                    entrepreneurs shared that they wanted to start a business due to unfair treatment at the workplace
                    13.
                    Difficulty
                    finding a job and mistreatment in the workforce can prompt groups facing discrimination to choose
                    self-employment.</p>
                <p>
                    Despite these negative experiences, the many founders including the ones we interviewed were able to
                    channel
                    the
                    hardships to create impactful businesses, which segues into the next motivator for starting a
                    venture:
                    Mission. Impact.
                    Purpose.
                </p>
            </div>
        </div>
        <div id="2-2-3">
            <h3>Mission. Purpose. Passion.</h3>
            <div class="mb-12"><img class=" img" src="assets/images/vis/section-2/wordcloud.png"
                    alt="a word cloud of the words used in this report"></div>
            <p>According to the Global Entrepreneurship Monitor, nearly 45% of the world's social entrepreneurs
                are
                female. Within
                Germany, the proportion is higher at nearly 50% 1. Based on these insights, it comes as no
                surprise
                that
                over 80% of the
                founders we interviewed have founded impact ventures.</p>
            <div class="flex flex-col justify-center items-center mb-8">
                <h3 class="mt-0 border-l-0 pl-0">Percentage of social entrepreneurs that are <strong
                        class="text-red">Women</strong>
                </h3>
                <img src="assets/images/vis/section-2/percent-of-women-social-entrepreneurs-min.svg"
                    alt="45% of world social entrepreneurs are women. The number raises to 50% in Germany.">
            </div>
            <p>Whether driven by experiences of discrimination or the desire to work on a mission that resonates
                with
                their interests,
                it is clear from the research that this group of founders is intrinsically motivated to create a
                positive impact. Some
                founders are motivated by the opportunity to be the role model that they never had growing up.
                According
                to the Global
                Entrepreneurship Survey, 80% of respondents shared that becoming a role model was a significant
                motivation for starting
                a business 2, 3. Others share their prime motivation was a desire to dismantle the glass ceiling
                by
                hiring more diverse
                talent and closing the pay gap. While some shared a yearning to create a better future for
                younger
                generations by
                creating ventures focused on sustainable models such as reducing waste and recycling.</p>

            <figure class="relative">
                <span class="quote text-red">"</span>
                <blockquote>I wanted to make a difference. There are a lot of companies doing things for money and I
                    feel
                    like there's a real need
                    for more social entrepreneurship. I have a child, and I want her to have a future. Also, I truly
                    care
                    about the
                    environmental crisis and how to improve it. So I was like, if I'm gonna do something, I want to do
                    something with
                    impact.</blockquote>
                <figcaption>- Interview Participant</figcaption>
            </figure>
        </div>
    </div>

    <div id="2-3" x-intersect="topColor= 'red'">
        <h2>Challenges</h2>
        <p>While there is no surprise that there are a range of challenges impacting the founders we interviewed, we did
            identify
            some commonalities due to the intersection of their race and gender, and for many, migration status as well.
        </p>
        <h4>Below are four of the main challenges we identified:
        </h4>
        <ul>
            <li>Homophily Networks</li>
            <li>Prejudice</li>
            <li>Funding</li>
            <li>Diversity Washing</li>
        </ul>
        <div id="2-3-1">
            <h3>Homophily Networks</h3>
            <figure class="relative bg-red text-white mt-0">
                <span class="quote text-white">"</span>
                <blockquote>Birds of a feather invest together</blockquote>
                <figcaption class="text-gray-50">Michael Blanding, <br>Forbes</figcaption>
            </figure>
            <div id="2-3-1-1">
                <h4>Opposites do not always attract!</h4>
                <p>Through our primary research, the first challenge identified was the issue of “homophily
                    networks,” a
                    sociological
                    theory that people with similar characteristics have an inclination to consciously or
                    unconsciously
                    group themselves
                    together 1, 2. People tend to gravitate towards others with similar characteristics or
                    backgrounds,
                    like
                    gender,
                    educational and professional experience, or culture, because these similarities create an
                    environment of
                    trust that is
                    more conducive to cooperation. Additionally, homophily networks act as a way to pre-vet
                    individuals.
                    For
                    example, in the
                    context of investing, there is a preference to commit capital to a founder within one’s
                    network
                    or
                    to a
                    founder who has
                    a similar background (education, professional experience, age, etc…). This mitigates the
                    feeling
                    of
                    risk
                    and fosters
                    more trust in their abilities to create a successful venture. 3, 4</p>
                <p>Within the context of entrepreneurship, this can be seen in many different forms. For
                    example,
                    according
                    to the
                    Deutscher Startup Monitor, 36.4% of founders met their co-founders in university, 34.5% were
                    friends,
                    28.2% from a
                    common previous employer, and 23% met through a mutual connection 5. This is significant for
                    the
                    diversity of the
                    startup scene since homophily networks also have a big impact on founders that are seeking
                    funding –
                    and
                    because of
                    this, tend to reinforce and perpetuate inequities.</p>
                <div class="card mixed-col mb-12">
                    <p class="title col-span-12 edit">How did you meet your co-founder?</p>
                    <div class="col-span-4">
                        <div class="stat">
                            <div class="digit-md">34.5</div>
                            <div class="label">%</div>
                        </div>
                        <p>Already friends</p>
                    </div>
                    <div class="col-span-4">
                        <div class="stat">
                            <div class="digit-md">28.2</div>
                            <div class="label">%</div>
                        </div>
                        <p>Shared a common employer</p>
                    </div>
                    <div class="col-span-4">
                        <div class="stat">
                            <div class="digit-md">23</div>
                            <div class="label">%</div>
                        </div>
                        <p>Through a mutual connection</p>
                    </div>
                </div>
                <p>One central and very pronounced type of homophily network we looked at is education. In Germany, for
                    instance, almost
                    one in four founders (24%) studied at what is considered to be the “top ten” list of the country’s
                    entrepreneurial
                    universities 6. This homogenous educational background is even more pronounced in the US, where a
                    study
                    led
                    by Harvard
                    Professor Paul Gompers, Eugene Holman, and Silpa Kovvali revealed that nearly one in four venture
                    capitalists studied at
                    Harvard – in a country with thousands of higher education institutions 7. Our research team
                    conducted an
                    analysis of
                    where venture capital investors from Germany’s top* VCs and unicorn founders studied. We found that
                    nearly
                    42% studied
                    at the following universities: The Technical University of Munich (TUM) (15%), WHU- Otto Beisheim
                    School
                    of
                    Management
                    (13%), University of St.Gallen (9%), and Ludwig Maximilian University of Munich (LMU) (5%).
                    Similarly,
                    the
                    educational
                    composition of German unicorn founders was similar with 41% having studied at the same institutions:
                    The
                    Technical
                    University of Munich (TUM) (15%), WHU- Otto Beisheim School of Management (11%), University of
                    St.Gallen
                    (5%), and
                    Ludwig Maximilian University of Munich (LMU) (9%). While these findings do not imply causality, they
                    do
                    highlight a
                    strong correlation between educational background and network. Lastly, 52% of the unicorn
                    co-founders
                    studied at the
                    same universities.
                </p>
                <p>In the next section, we’ll explore how homophily networks can influence access to information,
                    networks,
                    and
                    risk
                    perception.
                </p>
                <p>
                    *based on Pitchbook’s “The 10 most active German VCs” and Vestbee’s “Top VC Funds In Germany To
                    Finance
                    Your
                    Startup” 8,
                    9</p>
            </div>

            <div id="2-3-1-2">
                <h4>Access to Information </h4>
                <figure class="relative">
                    <span class="quote text-red">"</span>
                    <blockquote>When it comes to building a business, I had to learn things the hard way… I had to learn
                        in
                        the
                        process.</blockquote>
                    <figcaption>- Interview Participant</figcaption>
                </figure>
                <p>Every entrepreneur learns by doing, but some have a steeper learning curve due to their identities or
                    where
                    they
                    fit into social constructs. Our interviews and research demonstrated that a significant information
                    gap
                    is a
                    challenge and that it’s amplified by factors like migration background and socioeconomic status.
                    This
                    can be
                    traced back to the broader, overarching issue of homophily networks.
                </p>
                <p>In our research, over 80% of interview participants were first-generation migrant founders. In
                    Germany, 1
                    in
                    5
                    founders has a migration background with almost 60% being first-generation migrant founders 7, 8, 9.
                    For
                    example, through conversations with this demographic of founders, we learned that bureaucracy, both
                    before
                    starting their venture and after its formation, was a significant hurdle, not only due to possible
                    language
                    barriers, but also the visa process, residency permits, and social security.
                </p>
                <figure class="relative">
                    <span class="quote text-red">"</span>
                    <blockquote>It was frustrating because I didn't know it would be financially beneficial to have a
                        holding
                        company for my GmbH until I was fundraising last year. We were in the process of closing our
                        seed
                        round
                        and
                        everyone was signing off, when I found out that they all had this type of UG (holding company).
                        And
                        at
                        some
                        point, they're like, ‘oh, where's yours?’ And I asked, ‘do I need this?’</blockquote>
                    <figcaption>- Interview Participant</figcaption>
                </figure>
                <p>Founders also shared their frustrations and anxiety around their visas and residencies. This founder
                    told
                    us
                    about her struggle with understanding and navigating the circular process, and how she was
                    eventually
                    helped:
                </p>
                <figure class="relative">
                    <span class="quote text-red">"</span>
                    <blockquote>It was my biggest source of anxiety. If you think of a self-employment visa, the
                        requirements
                        are
                        that your company or you have the money to realise a business idea. So, it means you need to
                        have
                        funding.
                        And it's like, well, ‘how do I get funding if I don't quit my job to raise it?’ Then, the other
                        type
                        of
                        visa
                        would be to be employed by your company and just get a normal visa. But, then for my company to
                        employ
                        me,
                        it needs to pay me, and to pay me we need to raise money. So it's a circular thing, that that
                        whole
                        thing
                        was a nightmare. Thankfully, I didn't do it alone. I would be lying if I said I did. I worked
                        with
                        Berlin
                        Partners, who actually submitted my visa application on my behalf.</blockquote>
                    <figcaption>- Interview Participant</figcaption>
                </figure>
            </div>

            <div id="2-3-1-3">
                <h4>Access to Network </h4>
                <figure class="relative bg-red text-white mt-0">
                    <span class="quote ">"</span>
                    <blockquote class="">The next gem of an opportunity might come out of left field rather than via
                        your
                        mate.
                    </blockquote>
                    <figcaption class="text-gray-50">- Sarah Turner, Sifted</figcaption>
                </figure>
                <p>Warm introductions are crucial to the success of a startup. A warm introduction is an introduction
                    from a
                    known
                    and trusted person or a referral. The term “warm introduction” is common in investor circles in
                    which
                    investors
                    will only deal with entrepreneurs introduced to them by way of a warm introduction. They also
                    exacerbate
                    and
                    perpetuate other challenges that underrepresented or “out of network” founders, including women of
                    colour,
                    face.
                </p>
                <p>One founder we spoke with shared the following experience:
                </p>
                <figure class="relative">
                    <span class="quote text-red">"</span>
                    <blockquote>I was at an event where a VC shared that while they do accept online applications, they
                        have
                        never
                        really funded an applicant. He shared that it’s all about warm introductions, which infuriated
                        me
                        because I
                        was like, ‘to get a warm intro, you need to be a part of those circles, and being honest most
                        circles
                        are
                        still white German men. I’m a Black queer working-class woman. I don’t understand how I’m going
                        to
                        get
                        into
                        those circles and get warm introductions.</blockquote>
                    <figcaption>- Interview Participant</figcaption>
                </figure>
                <p>As we alluded to earlier when we discussed Homophily Networks, the German startup scene is relatively
                    homogenous,
                    with many of the founders and investors sharing similar educational and cultural backgrounds, which
                    can
                    make
                    gaining access to networks challenging for women of colour entrepreneurs. The majority of the
                    entrepreneurs
                    we
                    spoke with have the intersectional, compounding challenge of having a migrant background. The
                    Migrant
                    Startup
                    Monitor 2022 named a lack of network as the main challenge for first-generation migrant founders in
                    Germany,
                    especially those who studied abroad 10. Access is connected to the next challenge related to
                    homophily
                    networks:
                    Risk Perception
                </p>
            </div>

            <div id="2-3-1-4">
                <h4>Risk Perception</h4>
                <p>"Warm intros'' act as a filter to protect and enable homophily networks. When meeting others from
                    within
                    your
                    network, they typically have similar backgrounds and qualifications, which fosters a greater level
                    of
                    trust
                    and
                    confidence. Ironically, this goes against the nature of venture capital, which aims to identify the
                    outlier
                    business models and products that are positioned to disrupt industries 11. By focusing on patterns
                    and
                    their
                    network to make investment decisions, investors are more likely to miss phenomenal “out of network”
                    opportunities. Additionally, this also alludes to the fact that success in the startup ecosystem is
                    heavily
                    determined by your network. For women of colour founders that do manage to get their foot in the
                    door,
                    “they
                    have to go the extra mile to prove their redeeming qualities and overcome higher perceptions of
                    risk,
                    than
                    their
                    white, male counterparts” 12. </p>
                <p>Research demonstrates that men and women are asked very different questions when evaluating their
                    companies.
                    One
                    report out of Harvard Business School discussed how male entrepreneurs are asked more
                    promotion-focused
                    questions, like “What does your venture forecast look like?” or “Where’s the opportunity?”, whereas
                    female
                    entrepreneurs are typically asked prevention-focused questions focused on anticipated problems 13.
                    Another
                    Harvard Business School study by Laura Huang confirmed this gender difference and also discussed the
                    additional
                    challenge for Black women being evaluated by venture capitalists: “embedded with [the evaluation] is
                    this
                    sort
                    of disbelief around what they’re able to achieve” 14, 15. These studies unsurprisingly found that
                    cognitive
                    bias, “a subconscious error in thinking that leads you to misinterpret information from the world
                    around
                    you,
                    and affects the rationality and accuracy of decisions and judgments” 16 linked to racist and sexist
                    stereotypes
                    are the culprits behind biased questions during evaluations.
                </p>
                <p>As we discussed in the section Mission. Purpose. Passion., founders who are women of colour tend to
                    be
                    impact-driven, and research has shown that they create businesses that solve problems that they and
                    their
                    communities are confronted with 17. However, when seeking funding, they are frequently told that
                    their
                    businesses are “too small” or “too niche.” This was the case for ListedB, a social booking app for
                    beauty
                    and
                    wellness services targeted at the Black community in the US 18 when in actuality, the Black beauty
                    industry
                    is a
                    multi-billion dollar market. When investors don’t know the target audience for a company – which
                    goes
                    back
                    to
                    the issue of homogeneity – they don’t understand the potential of a business. Cecilia Corral, the
                    co-founder
                    of
                    CareMessage, shared in a GirlBoss article that she spent a lot of time “correcting presumptive
                    misconceptions”
                    investors made because they were unfamiliar with the low-income and minority populations that the
                    company
                    serves
                    19. This is another example of how cognitive biases can negatively impact women of colour founders.
                    In
                    the
                    case
                    of minority businesses, investors' unfamiliarity with the market, demographics, and lack of time to
                    analyse
                    the
                    market often leads to negative assumptions about the business’s potential.
                </p>
                <p>Cognitive bias ties into the next major challenge faced by women of colour founders: Prejudice.
                </p>
            </div>
        </div>


        <div id="2-3-2">
            <h3>Prejudice</h3>
            <figure class="relative">
                <blockquote>Poll placeholder - ### need info to create the poll ###</blockquote>
            </figure>
            <p>One of the biggest challenges expressed by the founders interviewed and uncovered in our research was
                prejudice.
                This is often manifested through the biases of those who frequently had inferior opinions about these
                founders'
                intellectual capabilities based on their gender and ethnic backgrounds 1. This prejudice is reflected in
                the
                types of questions that women and minority entrepreneurs are asked, and in the actions and requirements
                imposed
                on them 2. For example, the founders interviewed shared countless experiences of having to prove their
                worth
                and
                being underestimated.
            </p>
            <figure class="relative">
                <span class="quote text-red">"</span>
                <blockquote>I've had more direct biases in ways where I felt like I had to prove myself more and
                    really,
                    really show that I have an engineering background… and I just don’t know if that would have
                    been
                    the
                    case if I looked different.</blockquote>
                <figcaption>- Interview Participant</figcaption>
            </figure>
            <figure class="relative">
                <span class="quote text-red">"</span>
                <blockquote> The challenge of drumming up conviction… people make these short and very quick
                    understandings of who you are, where this conversation is going to lead, and how much time
                    they
                    might be given to you just based on how you look, certain signals, etc. I know I have a lot
                    to
                    bring
                    to the table., but it can be hard to get through those biases around us. We see it in the
                    way
                    someone's eyes glaze over before you’ve even gotten the chance to start talking.
                </blockquote>
                <figcaption>- Interview Participant</figcaption>
            </figure>
            <p>Another type of frequent prejudice is related to family status. Founders we spoke to who are also
                parents,
                shared
                that they faced scepticism around their ability to fully commit to their businesses because they are
                mothers
                –
                something fathers aren’t typically asked. As one founder shared:</p>
            <figure class="relative">
                <span class="quote text-red">"</span>
                <blockquote> It's been super rude comments. Our last potential investor asked us if we are actually able
                    to
                    work
                    full-time since we
                    are both mothers. They never asked my husband this and he’s also an entrepreneur. My husband and I
                    shared
                    the
                    responsibilities 50/50, which is how it should be. But, they just asked me about those things.
                </blockquote>
                <figcaption>- Interview Participant</figcaption>
            </figure>
            <p>One study conducted by HSBC Private Banking, which interviewed over 600 women entrepreneurs across North
                America,
                Europe, Asia, and the Middle East found that gender bias from investors “came in the form of questions
                about
                entrepreneurs’ family circumstances and their credibility as business leaders. Female participants in
                the
                study
                said
                they were asked more questions about their personal life than their business ideas, whereas men were
                mostly
                asked about
                their business ideas” 3. While numerous sources provide women and minority entrepreneurs with
                suggestions on
                how
                to
                react and manage prejudice (e.g., 4), the onus should also be on investors and ecosystem members to
                educate
                themselves,
                evaluating and mitigating their own (un)conscious biases.
            </p>
        </div>

        <div id="2-3-3">
            <h3>Funding</h3>
            <figure class="relative bg-red text-white mt-0">
                <span class="quote text-white">"</span>
                <blockquote>The ticket size I have now is where most of my white male friends start… and it’s taken me
                    three
                    years to get here
                </blockquote>
                <figcaption class="text-gray-50">- Interview Participant</figcaption>
            </figure>

            <p>According to the second annual Global Entrepreneurship survey, the top three challenges to starting a
                business
                for women
                were all related to funding 5:</p>
            <div class="card mixed-col mb-12">
                <div class="col-span-4">
                    <div class="stat">
                        <div class="digit-md">51</div>
                        <div class="label">%</div>
                    </div>
                    <p>Earning enough money to offset costs</p>
                </div>
                <div class="col-span-4">
                    <div class="stat">
                        <div class="digit-md">51</div>
                        <div class="label">%</div>
                    </div>
                    <p>Having enough budget to grow</p>
                </div>
                <div class="col-span-4">
                    <div class="stat">
                        <div class="digit-md">48</div>
                        <div class="label">%</div>
                    </div>
                    <p>Financing their business</p>
                </div>
            </div>

            <p>Another study found that companies founded by women entrepreneurs do not underperform because of a lack
                of
                knowledge,
                insufficient skills, or inability – rather, it’s because of undercapitalization. Male founders receive
                and
                use up to
                three times more capital than women. 6. Due to difficulties obtaining capital, underrepresented founders
                typically turn
                to bootstrapping to finance their venture, which is often revered as a demonstration of grit and
                resilience.
                But in
                reality, especially for underrepresented founders, this often leads to a debilitating cycle that leads
                to
                slow growth,
                which is unattractive to investors 7. As a result, founders are less likely to receive capital, which
                could
                stagnate or
                even force the founder to shut down their startup.

            </p>
            <p>There is also a major gap in funding in Germany based on migration background. First-generation founders
                receive an
                average of € 1.1 million in funding – less than half of the national average of € 2.6 million reported
                by
                the German
                Startup Monitor 8.

            </p>

            <h4>Three factors have been found to perpetuate the funding gap according to a study conducted by Morgan
                Stanley
                9:
            </h4>
            <ol class="list-decimal ml-8">
                <li>Lack of diversity in the investment community
                </li>
                <li>Reliance on well-established social networks
                </li>
                <li>(Un)conscious Bias
                </li>
            </ol>
            <p>According to the Morgan Stanley study, investors “don’t see the imbalance” in the amount of funding that
                goes
                to
                women
                and minority founders. Of the 101 investors they surveyed, 61% felt that women and minority founders get
                “about
                the
                right amount of capital” – and 20% believe that they get “more capital than they deserve.” Why is this,
                when
                we
                know a
                vast inequality exists based on the actual data? According to the study, investors lack exposure to and
                interaction with
                women and minority founders – another issue traced back to how homogenous the startup ecosystem is 10.
            </p>
            <div class="flex justify-center"><img src="assets/images/vis/section-2/chart.png"
                    alt="graph representing data"></img></div>
            <p>The lack of diversity among investors mirrors the state of funding for women of colour
                entrepreneurs:
            </p>
            <p>In Europe, only 15% of general partners are women, and it was found that they have fewer seats on
                investment committees
                and less clout than their male counterparts 11. When broken down by ethnic background, only
                about
                one in
                five people
                working in VC or private equity are people of colour (11% are Asian, 3% are Black, and 7%
                identify
                as
                multi-ethnic or
                other) 12.</p>
            <img src="assets/images/vis/section-2/chart2.png" alt="graph representing data"></img>

            <p>The lack of diversity and homogeneity of the ecosystem contributes to challenges like access to networks
                or
                risk
                perception. While initiatives in the startup ecosystem approach the funding gap with bottom-up
                solutions.
                However, our
                research has uncovered that top-down solutions are required to bring about real change.
            </p>
            <p>Likewise, while there are many sources that provide women and minority entrepreneurs with suggestions on
                how
                to navigate
                and mitigate prejudice, this places another burden on them (ex. this article from Forbes 13). The onus
                should ultimately
                be on the investors and other members of the VC ecosystem to do the work themselves, looking into and
                checking their own
                biases, whether conscious or not.
            </p>
        </div>

        <div id="2-3-4">
            <h3>Diversity Washing</h3>
            <figure class="relative bg-red text-white mt-0">
                <span class="quote text-white">"</span>
                <blockquote>Unfortunately, I’ve not experienced much of an advantage for my business being a brown
                    woman.
                    Maybe in terms of my story
                    being interesting for people in terms of PR and wanting to share it.
                </blockquote>
                <figcaption class="text-gray-50">- Interview Participant</figcaption>
            </figure>
            <p>The last challenge unveiled in our research was “Diversity Washing”, a term used to describe the process
                of
                conveying an
                image of Diversity, Equity, and Inclusion by companies through initiatives in order to appear more
                positive
                and/or
                benefit from it. In the entrepreneurial ecosystem, this can be seen through deceptive marketing
                campaigns
                which fail to
                represent the reality of a company’s diversity. One of the interview participants shared the following:
            </p>
            <figure class="relative">
                <span class="quote text-red">"</span>
                <blockquote>There have been articles about someone else with a very short mention of me or something
                    related, but my picture is like
                    on the top. That felt like tokenism.
                </blockquote>
                <figcaption>- Interview Participant</figcaption>
            </figure>
            <p>We also need to look at whether DEI initiatives are truly changing circumstances for underrepresented
                founders, or if
                they’re only giving the appearance of change. There has been an uptake in DEI initiatives, including
                programs focused on
                women and minority founders and quotas targeted at these groups. But funding for women in Europe is
                still
                extremely low,
                with only 2% of venture capital going to all-women-led teams in 2021 14. For women of colour, the
                figures
                are even
                worse. For example, only 0.02% of funds went to black women entrepreneurs in Europe 15, 16. This shows
                that
                the problem
                is more complex than well-intentioned initiatives and programs can fix, and requires intersectional and
                systemic
                solutions to combat the issues on all fronts.
            </p>
            <figure class="relative">
                <span class="quote text-red">"</span>
                <blockquote>The quota doesn't do anything unless they actually change. For example, a VC has investment
                    analysts who talk to
                    startups every day, but they are still holding on to their prejudices and are still doing things
                    that
                    can be considered
                    micro-aggressions or sexist. Also, the quota impacts one startup. There are still hundreds of
                    startups
                    with diverse
                    founders that have to interact with that same company, without necessarily making it into that
                    quota. So
                    for me, the
                    quota doesn't mean anything. I'm like, ‘Okay, cool. You have the quota, but what else are you doing?
                </blockquote>
                <figcaption>- Interview Participant</figcaption>
            </figure>
            <p>Lastly, by making it seem like inequities have improved much more than they really have,
                diversity
                washing
                further
                exacerbates the challenges around diversity in the startup space.
            </p>
            <p>DEI initiatives can make people think underrepresented groups are getting a leg up when they’re
                still
                facing unique and
                pronounced challenges. This could be one reason 20% of investors in Morgan Stanley’s study
                believed
                that
                women and
                minority founders “get “more capital than they deserve.” They don’t see the imbalance and
                inequity
                in
                the startup
                landscape because of their lack of exposure and interaction with that demographic 17. One
                founder in
                our
                research
                explains below how diversity washing makes it appear that minority founders are being more
                supported
                and
                funded than
                they actually are:
            </p>
            <figure class="relative">
                <span class="quote text-red">"</span>
                <blockquote>Now there is this rhetoric that it should be easier for Black people and minorities
                    because
                    we’re now in the mainstream
                    or people are aware of us. Optically, yes, we're being seen, but in terms of getting
                    funding, or
                    actually having a seat
                    at the table, it's still non-existent. That's a frustrating thing. People think that we
                    should
                    be
                    grateful, or that now
                    we have an upper hand, but no, our faces may be on billboards, but I'm not being paid.
                </blockquote>
                <figcaption>- Interview Participant</figcaption>
            </figure>
        </div>
    </div>
</div>