<h1 id=""return">About the Report</h1>
<figure>
    <blockquote cite="">
        <p>“If you don't have a lens that's been trained to look <span class="symbol Visibility bg-red"></span> at how various forms of discrimination come together, you're unlikely to develop a set of policies that will be as inclusive <span class="symbol Inclusive bg-blue"></span> as they need to be.”</p>
    </blockquote>
    <figcaption>— Prof. Kimberlé Crenshaw,<br>American Civil Rights Advocate and a Leading Scholar of Critical Race Theory</figcaption>
</figure>
<p class="lead">Over the last two decades, there has been a global rise in entrepreneurial activity,</p>
<p>as well as an increase in activities and initiatives dedicated to supporting underrepresented groups such as women and ethnic minorities. Despite this, these groups continue to be underrepresented in the entrepreneurial ecosystem, and those that have chosen to start a venture are inundated by hurdles related to factors such as their gender, socioeconomic status, and ethnicity.</p>
<p>Additionally, underrepresented founders are often grouped into homogeneous networks based on a unifying characteristic (e.g., female founders) that disregards the influences of other social constructs like socio-economic class and migration status. By amassing founders into single axis dichotomies (e.g., male/female or white/PoC), policymakers, DEI initiatives, and ecosystem players are inadequately addressing the </p>
<p>Let's <a href="#destination">scroll!</a></p>

<p>Over the last two decades, there has been a global rise in entrepreneurial activity, as well as an increase in activities and initiatives dedicated to supporting underrepresented groups such as women and ethnic minority startup founders. Despite this, these groups represent an abysmal fraction of founders that receive startup funding. In 2020, only 800 woman-founded startups received funding, which translates to barely 4% of the $300 billion in global venture capital funding (source).</p>
<p>Additionally, underrepresented founders are often grouped into homogeneous networks based on a unifying characteristic (e.g., female founders) that disregards the influences of other social constructs like socio-economic class and migration status. By amassing founders into single axis dichotomies (e.g., male/female or white/PoC), policymakers, DEI initiatives, and ecosystem players are inadequately addressing the mutually reinforcing nature of inequality. Sadly, entrepreneurial research has also traditionally explored founders' experiences through single social categories.</p>
<p>For this reason, our research adopts an intersectional approach to gain a holistic perspective on the influence of various social constructs on women of color founders' motivation, experiences, and strategies for navigating the startup ecosystem.</p>
<p>In this report, you will:</p>
<ul>
    <li>Gain an understanding of the current situation concerning entrepreneurship for women of color</li>
    <li>Become aware of the current challenges and opportunities for this group of founders</li>
    <li>Learn about opportunities to create positive impact</li>
</ul>