<div class="section-head">
    <div>
        <div class="symbol1 symbol Forward"></div>
        <div class="symbol2 symbol Calm"></div>
        <div class="symbol3 symbol Value"></div>
    </div>
    <div class="title-card">
        <h1 class="mb-0 uppercase">03.<br>Implications</h1>
    </div>
    <div class="flex flex-col justify-center items-center img">
        <div class="flex">
            <div class="symbol4 symbol No "></div>
            <div class="symbol5 symbol Moving"></div>
        </div>
        <div class="flex flex-grow img">
            <img class="w-48 md:w-64 md:h-64 lg:w-80 lg:h-80 object-cover" src="assets/images/section3.webp"
                alt="Women of Color working on a laptop looking at the camera smiling">
        </div>
    </div>
</div>
<div id="3-0" x-intersect="topColor='blue', content='03. Implications'">
    <figure class="relative bg-blue text-white m-0">
        <span class="quote left-0 text-white">"</span>
        <blockquote class="md:mx-8 lg:px-10">
            <p class="text-hanson">I am no longer accepting the things I cannot change. I am changing the things I
                cannot accept.</p>
        </blockquote>
        <figcaption class="text-gray-50">- Angela Davis</figcaption>
    </figure>
    <div class="header-1">
        <h2 x-intersect="topColor= 'blue',content= '03. Implications'">Where do we go from here?</h2>
    </div>
    <div class="section-content">
        <p>Only <span class="highlight">1%</span> of women-led startups and <span class="highlight">0.7%</span> of
            ethnic minority founders received VC funding in Europe in
            2021.<sup>
                <a href="https://dealroom.co/blog/international-womens-day-the-gender-funding-gap" target="_blank">1</a>
            </sup>
            This
            can
            make one feel that the state of the European startup ecosystem is a lost cause, but there is power in
            numbers,
            and hope
            when we come together to support the creation of <span class="highlight">equity</span> for all founders.
            <sup>
                <a href="https://sifted.eu/articles/atomico-state-of-european-tech-2022/" target="_blank">2</a>,<a
                    href="https://stateofeuropeantech.com/?utm_source=Female+Founders+Community&utm_campaign=3d0b0cff6a-EMAIL_CAMPAIGN_FF_DEC_2_22&utm_medium=email&utm_term=0_631e2d960e-3d0b0cff6a-595042871"
                    target="_blank">3</a>
            </sup>
        </p>
        <p>Whether you’re a founder,
            investor,
            policymaker, ally, or simply interested in the topic, we’ve collected further resources and tips below to
            help
            you in
            creating a more equitable startup ecosystem. Take a look below.
        </p>
    </div>

    <div class="m-8" x-intersect="topColor= 'blue', content= '03. Implications'">
        <div class="flex flex-col md:grid md:grid-cols-3 md:gap-4 text-center">
            <div id="3-1" class="md:col-span-1 bg-red-50 implications  flex flex-col">
                <h3 class="bg-red text-white border-l-0 py-4">For Founders</h3>
                <div class="px-4 pb-4 flex-grow">
                    <div class="flex my-4 space-x-2 items-center">
                        <span class="font-bold m-0 text-left">

                            Find your community:</span>
                    </div>
                    <div>
                        <p>Join mission-aligned organisations:</p>
                        <ul>
                            <li>
                                <a href="https://community.founderland.org/form/founder" target="_blank">Join
                                    Founderland Community</a>
                            </li>
                            <li>
                                <a href="https://www.female-founders.org/" target="_blank">Female Founders</a>
                            </li>
                            <li>
                                <a href="https://migrapreneur.org/" target="_blank">Migrapreneur</a>
                            </li>
                            <li>
                                <a href="https://women-in-tech.org/" target="_blank">Women in Tech</a>
                            </li>
                            <li>
                                <a href="https://startup.google.com/" target="_blank">Google for Startups</a>
                            </li>
                            <li>
                                <a href="https://hatchenterprise.org/" target="_blank">Hatch Enterprise</a>
                            </li>
                            <li>
                                <a href="https://wegate.eu/" target="_blank">WeGate</a>
                            </li>
                            <li>
                                <a href="https://www.foundervine.com/" target="_blank">Foundervine</a>
                            </li>
                            <li>
                                <a href="https://www.grace-accelerator.de/" target="_blank">Grace</a>
                            </li>
                            <li>
                                <a href="https://factoryberlin.com/stealth-mode/" target="_blank">StealthMode</a>
                            </li>
                            <li>
                                <a href="https://parentpreneurs.net/en/" target="_blank">Parentpreneurs</a>
                            </li>
                            <li>
                                <a href="https://www.allbrightcollective.com/" target="_blank">Allbright</a>
                            </li>
                            <li>
                                <a href="https://wearesista.com/en/" target="_blank">Sista</a>
                            </li>
                            <li>
                                <a href="https://www.linkedin.com/groups/13835222/" target="_blank">FemTech and
                                    Women’s
                                    Health</a>
                            </li>
                        </ul>
                        <p>Participate in events: Pitch competitions, networking, and office hours with VCs
                        </p>
                    </div>
                    <div class="my-4 text-left">
                        <span class="font-bold m-0 text-left"> Practice tactics to address and respond to
                            prejudice:</span> <a
                            href="https://www.furtherfaster.design/blog/gender-biased-questions-in-vc-and-how-to-respond"
                            target="_blank">Find
                            tips here</a>
                    </div>
                    <div class="flex my-4 space-x-2 items-center">
                        <span class="font-bold m-0 text-left">Don’t be afraid to promote yourself:</span>
                    </div>
                    <div>
                        <p>
                            Did you know that self-promotion has a plethora of benefits ranging from taking
                            control
                            of
                            how
                            you’re perceived to opening doors to new opportunities? <a
                                href="https://iamremarkable.withgoogle.com/" target="_blank">#IAmRemarkable</a>
                            workshop
                        </p>
                    </div>

                    <div class="flex my-4 space-x-2 items-center">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                            stroke="currentColor" class="w-4 h-4">
                            <path stroke-linecap="round" stroke-linejoin="round"
                                d="M11.25 4.5l7.5 7.5-7.5 7.5m-6-15l7.5 7.5-7.5 7.5" />
                        </svg>
                        <span class="font-bold m-0">

                            Further Ressources</span>
                    </div>
                    <div>
                        <ul class="list-none text-left">
                            <li>
                                <a href="https://marker.medium.com/how-to-raise-startup-funds-as-a-woman-of-color-da70a5487902"
                                    target="_blank">How
                                    to
                                    Raise Startup Funds as a Woman of Colour</a>
                            </li>
                            <li>
                                <a href="https://www.forbes.com/sites/forbesbusinessdevelopmentcouncil/2021/04/19/fundraising-opportunities-for-minorities-and-women-of-color/?sh=71669eaa2ea1"
                                    target="_blank">Fundraising Opportunities for minorities and Women of Colour</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="w-full items-center justify-center footer">
                    <a class="w-full bg-red flex justify-start items-center space-x-2"
                        href="https://community.founderland.org/form/founder" target="_blank">
                        <div class="symbol For symred"></div>
                        <span class="text-white text-center mx-auto">Join Founderland as Founder</span>
                    </a>
                </div>
            </div>
            <div id="3-2" class="md:col-span-1 flex flex-col bg-blue-50 implications">
                <h3 class=" bg-blue text-white border-l-0 py-4">For Investors</h3>
                <div class="flex-grow px-4 pb-4">
                    <div class="flex my-4 space-x-2 items-center">
                        <span class="font-bold m-0 text-left">Implement (un)conscious bias training</span>
                    </div>
                    <div class="flex my-4 space-x-2 items-center">
                        <span class="font-bold m-0 text-left">Listen to underrepresented voices in your organisation and
                            community</span>
                    </div>
                    <div class="flex my-4 space-x-2 items-center">
                        <span class="font-bold m-0 text-left">Hire diverse talent for all levels of your firm</span>
                    </div>
                    <div class="flex my-4 space-x-2 items-center">
                        <span class="font-bold m-0 text-left">
                            Get involved:</span>
                    </div>
                    <div>
                        <p>Offer pro-bono mentoring
                        </p>
                        <p class="text-left"><a href="https://community.founderland.org/form/investor"
                                target="_blank">Join
                                Beacon</a> - Founderland’s Investor Collective</p>
                    </div>
                    <div class="flex my-2 space-x-2 items-center">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                            stroke="currentColor" class="w-4 h-4">
                            <path stroke-linecap="round" stroke-linejoin="round"
                                d="M11.25 4.5l7.5 7.5-7.5 7.5m-6-15l7.5 7.5-7.5 7.5" />
                        </svg>
                        <span class="font-bold m-0">

                            Further Ressources</span>
                    </div>
                    <div>
                        <ul class="list-none text-left">
                            <li>
                                <a href="https://www.wrg.vc/diversity" target="_blank">The Power of Diversity: Why
                                    homogenous teams in venture capital are bad for business</a>
                            </li>
                            <li>
                                <a href="https://hbr.org/2020/06/a-vcs-guide-to-investing-in-black-founders"
                                    target="_blank">A VC’s Guide to Investing
                                    in Black Founders</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="flex items-center justify-center footer">
                    <a class="w-full bg-blue flex justify-start items-center"
                        href="https://community.founderland.org/form/investor" target="_blank">
                        <div class="symbol Invest symblue"></div>
                        <span class="text-white text-center mx-auto">Join Founderland
                            as
                            Investor</span>
                    </a>
                </div>
            </div>
            <div id="3-3" class="md:col-span-1 bg-lime-50 implications flex flex-col">
                <h3 class="bg-lime border-l-0 py-4">For Policymakers</h3>
                <div class="px-4 pb-4 flex-grow">

                    <div>
                        <p>Collect basic demographic data on ethnicity and gender <sup>
                                <a href="https://www.opennetwork.net/minority-businesses-matter-europe/"
                                    target="_blank">4</a>
                            </sup> to get a clearer picture of the systemic
                            challenges
                            underserved
                            people face. We cannot create change without seeing the problem.
                        </p>
                        <p>Invest in long-term educational and social equity projects and policies <sup>
                                <a href="https://stateofeuropeantech.com/reading-tracks/state-of-dei"
                                    target="_blank">5</a>
                            </sup>
                        </p>
                        <p>
                            Create a visa that makes it easier for people with migration backgrounds to start a
                            company in
                            Germany.
                            Every fifth
                            startup in Germany is founded by a person with a migration background; however, they
                            frequently face
                            obstacles due to
                            their migration status. A successful example of this is the French Tech Visa for startup
                            employees,
                            founders, and
                            investors <sup>
                                <a href="https://www.rolandberger.com/en/Insights/Publications/Startups-could-create-almost-4-million-jobs-in-Germany-by-2030.html"
                                    target="_blank">6</a>
                            </sup>
                        </p>
                    </div>
                </div>
                <div class="flex items-center justify-center footer">
                    <a class="w-full bg-lime flex justify-start items-center"
                        href="https://community.founderland.org/form/ally" target="_blank">
                        <div class="symbol Moving symlime"></div><span class="text-black mx-auto text-center">Join
                            Founderland as Ally</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>