<div class="section-head">
    <img src="assets/images/section6.jpg" alt="woman of color">
    <div class="title-card">
        <!-- <div class="bg-lime w-16 h-16 inline-block">
            <i class="symbol Goals black"></i>
        </div> -->
        <h1 class="mb-0">Appendix</h1>
    </div>
</div>


<div id="6-1">
    <h2>Citations</h2>
    <li>...</li>
    <li>...</li>
    <li>...</li>
</div>
<div id="6-2">
    <h2>Glossary</h2>
    <ul>
        Women of Colour: Women who experience the effects and processes of racialisation, class, and gender domination
        as well
        as other sources of inequality, particularly hierarchies of legal status (Bassel and Emejulu 2017). This
        includes, but
        is not limited to, women founders who hold ethnic backgrounds or heritage in Africa, the Caribbean, South &
        Central
        America, South & Southeast Asia, and the Middle East 1, 2
        BAME: Abbreviation for Black, Asian, and Minority Ethnic. This term is more common in the UK as it refers to the
        two
        largest ethnic minority groups in the country 3
        BIPOC: Abbreviation for Black, Indigenous,People of Colour. This term is more common the the US as it refers to
        the two
        groups of ethnic minorities in the country that faced the greatest discrimination and longest history of
        oppression 3
        Impact Investing: an investment strategy that aims to create a beneficial social and environmental impact in
        addition to
        financial gains 4
        Social Entrepreneurship: the process of identifying social, environmental, and cultural problems and creating
        solutions
        through the development, implementation, and funding of entrepreneurial projects. These endeavours can be taken
        by
        individuals, groups, startups, or corporations 5, 6
        Funding Stages: Also known as funding rounds are a means of getting financial capital in order to finance a
        startup’s
        costs of operations, such as personnel and marketing. Startups typically go through multiple stages depending on
        their
        needs during their lifecycle, which are as follows: 7, 8, 9
        Pre-seed: Typically the first round of institutional funding that a startup raises from dedicated venture
        capital funds,
        angel investors, and/or accelerators/incubators. Generally, this round allows the founding team to find
        product-market
        fit, hire early employees, and test various go-to-market strategies
        Seed: One of the early funding stages. Typically, capital is raised from institutional investors such as
        dedicated
        venture capital funds, angel investors, and/or accelerators/incubators. The founding team will use this capital
        to
        further develop their product, go-to-market strategy, operations, and team. A startup in this stage has little
        to no
        revenue
        Series Funding: After demonstrating a viable business model, product-market fit, and a strong strategy with
        growth
        potential, startups are able to go into series funding, which starts with Series A, followed by Series B, Series
        C, etc.
        During this round, investors expect to see steady traction and for the capital raised to be used to increase
        revenue
        Exit: The point where founders and/or investors leave the startup
        Accelerator: Programs focused on speeding up the growth of an existing company that has a minimum viable product
        Incubator: Programs focused on helping startups in the product development stage
        Venture Capital (VC): a form of private equity and type of financing that investors provide to startups that
        they
        believe have long-term growth potential. The idea is to invest in a company until it reaches a sufficient size
        and
        credibility for investors to eventually exit (e.g., sale of company or IPO) 10, 11
        Business Angel/ Angel Investor: A private individual, often with a high net worth and business experience, who
        directly
        invests capital into a startup in exchange for ownership equity or convertible debt 12, 13
        Bootstrapping: A situation in which an entrepreneur starts a company with little capital, relying on money other
        than
        outside investment, such as using their personal finances or the operating revenue to fund the company
        Traction: The progress and momentum of a startup company, which can be measured in metrics such as user growth,
        sales,
        etc. 14, 15
        Valuation: An estimation of the worth of a startup

        <li>Women of Color</li>
        <li>BAME</li>
        <li>BIPOC</li>
        <li>Impact Venture </li>
        <li>Social Entrepreneurship </li>
        <li>Funding Stages- Pre-seed, seed, Series A, etc </li>
        <li>Exit </li>
        <li>Accelerator </li>
        <li>Incubator </li>
        <li>Venture Capital(ist) </li>
        <li>Business Angel/ Angel Investor</li>
        <li>Bootstrapping </li>
        <li>Founder</li>
        <li>Traction</li>
        <li>Valuation</li>
    </ul>
</div>