<!-- 
    source: https://docs.google.com/document/d/1ia16SGZszPCb2LuwcQEVMlAD5S0TjTuMebZGZ3f6NTA/edit?skip_itp2_check=true#
    last updated: 24 sept
-->

<div class="section-head">
    <div class="hidden md:block">
        <div class="symbol1 symbol Forward"></div>
        <div class="symbol2 symbol Calm"></div>
        <div class="symbol3 symbol Value"></div>
    </div>
    <div class="title-card">
        <h1 class="w-full mb-0 uppercase">01.<br>Our<br>Lens</h1>
    </div>
    <div class="flex flex-col justify-center items-center img">
        <div class="flex">
            <div class="symbol4 symbol No "></div>
            <div class="symbol5 symbol Moving"></div>
        </div>
        <div class="flex flex-grow">
            <img class="w-48 md:w-64 md:h-64 lg:w-80 lg:h-80 object-cover" src="assets/images/section1.webp"
                alt="Women of Color working on a laptop looking at the camera smiling">
        </div>
    </div>
</div>

<div id="1-1" x-intersect="topColor='pink', content='01. Our Lens'">
    <figure class="relative bg-pink text-white m-0 px-16">
        <span class="quote left-16 text-white">"</span>
        <blockquote cite="">
            <p>If you don't have a lens that's been trained to look <span class="symbol Visibility bg-blue"></span>
                at
                how
                various forms of discrimination come together, you're unlikely to develop a set of policies that
                will be as inclusive <span class="symbol Inclusive bg-blue text-white"></span> as they need to be.
            </p>
        </blockquote>
        <figcaption class="text-black">— Prof. Kimberlé Crenshaw,<br>American Civil Rights Advocate and a Leading
            Scholar of Critical
            Race Theory</figcaption>
    </figure>
    <div class="section-content">
        <h2>Introduction</h2>
        <p>Over the last two decades, there has been a global rise in entrepreneurial activity, but women
            aren’t getting their fair
            share of the pie. In 2020, only 800 women-founded startups received funding – that’s barely 2% of the $300
            billion in
            global capital funding. <sup><a
                    href="https://news.crunchbase.com/diversity/black-women-vc-diversity-ty-heath-linkedin/"
                    target="_blank">1</a></sup> Worse yet, the “proportion of funding raised by women-only teams has
            dropped
            from 3%
            to 1%
            since 2018” in Europe. <sup><a href="https://stateofeuropeantech.com/reading-tracks/state-of-dei"
                    target="_blank">2</a></sup> This abysmal disparity persists despite the increase in activities and
            initiatives
            dedicated to
            supporting women founders. </p>
        <p>Part of the issue may be that underrepresented founders are often grouped into homogenous networks based on
            one
            unifying
            characteristic, for example, “female founders,” that fail to address how other social constructs like
            socio-economic
            class or migration status differentiate the needs of people within these larger groups. By grouping founders
            into
            single-axis dichotomies like male/female or white/BIPOC, policymakers, DEI initiatives, and ecosystem
            players
            miss
            opportunities to address the ways different inequities can be mutually reinforcing.</p>

        <figure class="relative bg-pink text-white ">
            <span class="quote text-white">"</span>
            <blockquote cite="">
                <p>We tend to talk about race inequality as separate from inequality based on gender, class, sexuality,
                    or
                    immigrant status. What’s often missing is how some people are subject to all of these, and the
                    experience is not just the sum of its parts.</p>
            </blockquote>
            <figcaption class="text-black">- Prof. Kimberlé Crenshaw,<br>American Civil Rights Advocate and a Leading
                Scholar of Critical Race
                Theory</figcaption>
        </figure>

        <p>Unfortunately, entrepreneurial research has also traditionally explored founders’ experiences through single
            social
            categories. So we’ve used an intersectional approach in this report in order to gain a more holistic
            perspective on ways
            that overlapping social constructs can influence the motivation, experiences, and strategies for navigating
            the startup
            ecosystem of founders who are women of colour*.
        </p>
        <p>This report utilised a hybrid approach, which has enabled us to analyse secondary research including reports
            and
            academic journals, alongside conducting our own primary qualitative interviews.</p>

        <h3>In this report, you will:</h3>
        <ul>
            <li>Gain an understanding of the current situation concerning entrepreneurship for Women of Colour in
                Germany
            </li>
            <li>Become aware of the current challenges and opportunities for this group of founders in Europe</li>
            <li>Learn about actions you and your organisations can take to create a positive impact
            </li>
        </ul>
        <p>* By ‘women of colour’, we refer to women who experience the effects and processes of racialisation, class,
            and
            gender
            domination as well as other sources of inequality, particularly hierarchies of legal status (Bassel and
            Emejulu
            2017).
            This includes, but is not limited to, women founders who hold ethnic backgrounds or heritage in Africa, the
            Caribbean,
            South & Central America, South & Southeast Asia, and the Middle East. <sup><a
                    href="http://www.wocresist.com/wp-content/uploads/2021/12/Women-of-Colour-Resist.pdf"
                    target="_blank">3</a></sup>
        </p>
    </div>
</div>