<!-- 
    source: https://docs.google.com/document/d/1ia16SGZszPCb2LuwcQEVMlAD5S0TjTuMebZGZ3f6NTA/edit?skip_itp2_check=true#
    last updated: 5 sept
-->

<div class="section-head">
    <h1>Our Lens</h1>
</div>

<div id="1-1">
    <h2>Introduction</h2>
    <figure>
        <blockquote cite="">
            <p>“If you don't have a lens that's been trained to look <span class="symbol Visibility bg-red"></span> at how various forms of discrimination come together, you're unlikely to develop a set of policies that will be as inclusive <span class="symbol Inclusive bg-blue"></span> as they need to be.”</p>
        </blockquote>
        <figcaption>— Prof. Kimberlé Crenshaw,<br>American Civil Rights Advocate and a Leading Scholar of Critical Race Theory</figcaption>
    </figure>
    <p class="lead">Over the last two decades, there has been a global rise in entrepreneurial activity, as well as an increase in activities and initiatives dedicated to supporting underrepresented groups such as women and ethnic minority startup founders. Despite this, these groups represent an abysmal fraction of founders that receive startup funding. In 2020, only 800 woman-founded startups received funding, which translates to barely 4% of the $300 billion in global venture capital funding (source).</p>
    <div class="text-col">
        <p>Additionally, underrepresented founders are often grouped into homogeneous networks based on a unifying characteristic (e.g., female founders) that disregards the influences of other social constructs like socio-economic class and migration status. By amassing founders into single axis dichotomies (e.g., male/female or white/PoC), policymakers, DEI initiatives, and ecosystem players are inadequately addressing the mutually reinforcing nature of inequality. Sadly, entrepreneurial research has also traditionally explored founders' experiences through single social categories.</p>
        <p>For this reason, our research adopts an intersectional approach to gain a holistic perspective on the influence of various social constructs on women of color founders' motivation, experiences, and strategies for navigating the startup ecosystem.</p>    
    </div>
    <h3>In this report, you will:</h3>
    <ul>
        <li>Gain an understanding of the current situation concerning entrepreneurship for women of color</li>
        <li>Become aware of the current challenges and opportunities for this group of founders</li>
        <li>Learn about opportunities to create positive impact</li>
    </ul>
</div>

<div id="1-2">
    <h2>Behind the Report</h2>

    <div class="md:grid md:grid-cols-3 md:gap-8 md:mb-8">
        <div class="col-span-2">
            <p>Founderland gUG is a non-profit organization focused on building a new inclusive, intersectional standard for entrepreneurs. Their work supports women of color founders navigating the entrepreneurial ecosystem by providing them with a safe space to network, share knowledge, and build their ventures.</p>
            <p class="md:mb-0">In July 2021, CoAct (a project funded by the European Union's Horizon 2020 research and innovation programme) held an open call for European Civil Society Initiatives to conduct Citizen Social Science (CSS) Research. Founderland was selected in the Gender Equality & Sustainable Cities and Communities category and provided with additional mentorship from faculty at the University of Applied Sciences Potsdam (FHP).</p>
        </div>
        <div class="col-span-1 flex flex-col items-center justify-center ">
            <img class="w-1/2" src="assets/images/Founderland_Logo.svg" alt="Founderland Logo">
            <img class="w-1/2 mt-8" src="assets/images/CoAct_Logo-bw.svg" alt="CoAct Logo">
            <img class="w-1/2 mt-8" src="assets/images/FHP_Logo-bw.svg" alt="FHP Logo">
        </div>
    </div>

    <p>In line with the Citizen Social Science methodology, four women of color founders from Founderland's community were selected as co-researchers, which meant that they actively took on the role of researchers by conducting both primary and secondary research. Find out about the team and their motivation below: </p>

    <h3>Founderland Founders</h3>
    <p>Alina Bassi ■ Deborah Choi ■ Stephanie von Behr</p>

    <h3>Research Team</h3>
    <p>Janine Heinrich, Academic Researcher ■ Nina Del Marr, Co-Researcher ■ Hayli Chwang, Co-Researcher ■ Julie Sane-Pezet, Co-Researcher ■ Lex Gillon, Co-Researcher </p>


    <h2>Methodology</h2>

    <p>For this research, both the citizen social science methodology and qualitative research approach were used to gather and interpret data.</p>

    <h3>What is the Citizen Social Science Methodology?</h3>

    <p>The Citizen Social Science (CSS) Methodology is a form of participatory social research that directly involves selected communities in the research process. It aims to provide citizen groups with an equal seat at the table by actively involving them in the research process from conception through concrete actions.</p>

    <div class="text-col">
        <p>Utilizing this method meant that four women of color founders based in Germany joined the project as co-researchers. In their roles, they supported with the research design, conducted both primary and secondary research, and evaluated the data to create actionable recommendations.</p>
        <p>Additionally, due to the significant lack of data on women of color founders, especially in Germany, this research report took a qualitative research approach. This approach enabled the researchers to gain an understanding of the problems and perspectives of this under-researched demographic. Moreover, it allows for the development of concepts and theories for future research in the field.</p>
        <p>The researchers gathered data through secondary sources such as academic journals and periodicals, as well as primary sources such as interviews. In this way, they were able to</p>
    </div>

    <h3>By utilizing the CCS methodology and qualitative research approach, we were able to:</h3>
    <ul>
        <li>Foster trust between the interviewee and interviewer as they share a similar background and experience</li>
        <li>Illuminate the voices of those whose views are rarely heard</li>
        <li>Provide rich descriptive data and insights into complex phenomena</li>
    </ul>
</div>

<div id="1-3">
    <h2>Stakeholders along the Entrepreneurial Journey</h2>
    <p>Who is the report for and our hypotheses about why there is a misalignment</p>
</div>