<!-- 
    source: https://docs.google.com/document/d/1ia16SGZszPCb2LuwcQEVMlAD5S0TjTuMebZGZ3f6NTA/edit?skip_itp2_check=true#
    last updated: 8 sept
-->
<div class="section-head">
    <div class="hidden md:block">
        <div class="symbol1 symbol Forward"></div>
        <div class="symbol2 symbol Calm"></div>
        <div class="symbol3 symbol Value"></div>
    </div>
    <div class="title-card">
        <h1 class=" mb-0">04.<br>The<br>Makings<br>of<br>a<br>Founder</h1>
    </div>
    <div class="flex flex-col justify-center items-center img">
        <div class="flex">
            <div class="symbol4 symbol No "></div>
            <div class="symbol5 symbol Moving"></div>
        </div>
        <div class="flex flex-grow">
            <img class="w-48 md:w-64 md:h-64 lg:w-80 lg:h-80 object-cover" src="assets/images/section4.webp"
                alt="Women of Color working on a laptop looking at the camera smiling">
        </div>
    </div>
</div>
<div class="section-content pt-12" x-intersect="topColor= 'lime',content= '04. The Makings of a Founder'">
    <p>The myth of the “pipeline problem,” which implies that there “is not enough qualified talent from diverse
        backgrounds"
        simply isn’t true 1. A survey conducted by Inc. and Fast Company found that 21% of female founders had an
        MBA as
        compared to 15% of male founders 2. In Germany, the percentage of men and women who have completed a
        university
        degree
        before founding their startup is nearly equal, especially in the field of economics and business 3.
        Interestingly, the
        Migrant Startup Monitor 2022, found there is a higher proportion of first-generation migrant founders with
        university
        degrees (approximately 91%) than the general founder population in Germany 4. These statistics alone debunk
        the
        pipeline
        problem myth and indicate that over 90% of the founders interviewed hold either a bachelor’s and/or master’s
        degree.</p>
    <p>Much like other founders in the startup ecosystem, women of colour entrepreneurs are drawn to
        entrepreneurship
        because
        of the challenge, opportunity to make an impact, and the freedom it can offer. However, according to our
        research, they
        are also often drawn to it as a reaction to negative experiences, such as workplace discrimination and
        systemic
        oppression 5, 6, 7. We’ll further explore their motivations for becoming a founder in the following
        sections.
    </p>
    <p>Here’s a look into the backgrounds of the 12 powerhouse founders we interviewed for this report, who are
        leaving
        their
        mark on the current startup scene in Germany.
    </p>


    <div id="4-1">
        <div class="sticky top-24 w-full z-30 bg-white py-2">
            <h3>Meet the Rise & Thrive Founders</h3>
        </div>
        {% include vis-founders.html %}
    </div>

    <div id="4-2" x-intersect="topColor= 'lime', content= '04. The Makings of a Founder'">
        <div class="sticky top-24 w-full z-30 bg-white py-2">
            <h3>The Making of a Founder (On a Macro Level)</h3>
        </div>
        <p>While women make up 51% of the population in Europe, only 15% of European startup founders are female 8. The
            rate
            of
            entrepreneurial activity among European women stands at less than half of the global average 9. One of the
            reasons is
            welfare systems that support workers with unemployment and family care demands. However, women who do build
            ventures are
            more likely to lead impact-driven businesses.</p>
        <img src="assets/images/vis/section-4/vis.png"
            alt="visualisation of the percentage of the percentage of women founders in the world and in Europe">
        <p>Women lead 38% of social ventures in the world, more than twice as many as in conventional businesses 10, 11.
            Although
            women barely represent 15% of startup founders in Europe, 86% of social enterprises have one female director
            and
            27%
            have a director who comes from an ethnic minority group 12. In the US, women account for 49% of social
            entrepreneurs as
            compared to 39% of “traditional” entrepreneurs 13. A similar trend can be seen among other underrepresented
            groups like
            Black and Latinx founders, who not only create businesses that solve pressing problems in their community
            but
            also
            significantly contribute to economic development 14. In eight European countries, minority businesses had a
            combined
            turnover of €570 billion and employed nearly 3 million people 15.
        </p>
        <p>In Europe, women entrepreneurs are more highly educated than men in most countries and tend to be younger 16.
            According
            to the GEM 2021/2022 Women’s Entrepreneurship Report, women between the age of 18-34 have the highest
            participation
            rates in entrepreneurship worldwide. Similar to the founders that we interviewed for this report, “the
            number of
            female
            entrepreneurs who are university graduates is almost twice the world average.” Meanwhile, 22% of startup
            founders in
            Germany come from a migration background, 59% among them being first-generation migrants – a demographic
            that
            has higher
            university graduation rates (91%) than the national average of 85%, according to the Migrant Founder Monitor
            17.
            Two-thirds of first-generation migrant founders completed their university studies in Germany 18.
        </p>
        <p>Research shows that underrepresented founders are making significant contributions to bettering our society
            and
            planet
            through their economic contributions and impact-driven businesses19. Due to their strong entrepreneurial
            mindset, higher
            risk tolerance, resilience, and education level, the impact of underrepresented founders is expected to be
            particularly
            powerful in driving economic growth and innovation in countries where entrepreneurial activity is lower than
            the
            global
            average, including Germany 20, 21. Supporting these founders does more than level the playing field – it’s a
            rising tide
            that lifts all boats.
        </p>
    </div>
</div>