<div class="section-head">
    <div>
        <div class="symbol1 symbol Forward"></div>
        <div class="symbol2 symbol Calm"></div>
        <div class="symbol3 symbol Value"></div>
    </div>
    <div class="title-card">
        <h1 class="mb-0">05.<br>Behind <br>The<br>Report</h1>
    </div>
    <div class="flex flex-col justify-center items-center img">
        <div class="flex">
            <div class="symbol4 symbol No "></div>
            <div class="symbol5 symbol Moving"></div>
        </div>
        <div class="flex flex-grow img">
            <img class="w-48 md:w-64 md:h-64 lg:w-80 lg:h-80 object-cover" src="assets/images/section5.webp"
                alt="Women of Color working on a laptop looking at the camera smiling">
        </div>
    </div>
</div>
<div id="5-1" x-intersect="topColor='black',content= '05. Behind the Report'">
    <div class="section-content">
        <div class="w-full p-4 flex items-center justify-center my-8">
            <img class="w-40" src="assets/images/logos/Founderland_Logo.svg" alt="Founderland Logo">
            <img class="w-40" src="assets/images/logos/CoAct_Logo-bw.svg" alt="CoAct Logo">
            <img class="w-36" src="assets/images/logos/FHP_Logo-bw.svg" alt="FHP Logo">
        </div>
        <p>Three women, Alina Bassi, Stephanie von Behr, and Deborah Choi – were tired of the status quo in the
            ecosystem
            and
            wanted
            to challenge the way things were done. When it came to who got access to exclusive networking events with
            all
            “the right
            people;” the ways enviable keynote speaking opportunities were circulated, decided, and compensated; how
            homogenous
            those who held check writing power appeared; how very few women who were not white got funded, supported,
            and
            seen. They
            found each other and launched a community that became what Founderland is today: a non-profit organisation
            based
            in
            Germany that is focused on building a new inclusive, intersectional standard for entrepreneurs. Their work
            supports
            women of colour founders navigating the entrepreneurial ecosystem by levelling the playing field: providing
            them
            with a
            safe community, inspiring events, educational resources, funding opportunities, corporate perks, and access
            to
            networks
            to build their ventures.
        </p>
        <p>In July 2021, <a href="https://coactproject.eu/" target="_blank">CoAct</a>, a project funded by the European
            Union’s Horizon 2020 research and innovation programme,
            held an
            open call for European Civil Society Initiatives to conduct Citizen Social Science (CSS) Research.
            Founderland
            was
            selected in the Gender Equality & Sustainable Cities and Communities category and provided with additional
            mentorship
            from faculty at the University of Applied Sciences Potsdam (FHP).
        </p>
        <p>In line with the Citizen Social Science methodology, three women of colour founders from Founderland’s
            community
            were
            selected as co-researchers, which meant that they actively took on the role of researchers by conducting
            both
            primary
            and secondary research. Find out more about the team, their motivations, and the research methodology below:
        </p>
        <div class="w-full flex flex-col justify-center items-center headshots my-8">
            <div class="w-full flex flex-col justify-center items-center my-4">
                <h3 class="border-l-0 w-full text-center">Founderland Team</h3>
                <div class="max-w-4xl flex flex-col md:flex-row flex-wrap justify-center items-center">
                    <div class="w-60 overflow-hidden m-4 bg-black text-white">
                        <a href="https://www.linkedin.com/in/alinabassi/" target="_blank">
                            <img class="w-60 h-56 object-cover object-top"
                                src="assets/images/headshots/AlinaBassi_Headshot.webp" alt="" />
                        </a>
                        <div class="flex w-full">
                            <div class="symbol Blooming symred"></div>
                            <div class="symbol Connected symblue"></div>
                            <div class="symbol FDL"></div>
                        </div>
                        <div class="pt-4 h-36 flex flex-col items-center justify-center">
                            <a class="text-center no-underline" href="https://www.linkedin.com/in/alinabassi/"
                                target="_blank">
                                <h5 class="mb-2 text-lg font-bold ">Alina
                                    Bassi
                                </h5>
                            </a>
                            <p class="text-center mb-3 font-normal text-white">Co-Founder</p>
                        </div>
                    </div>
                    <div class="w-60 overflow-hidden m-4 bg-black text-white">
                        <a href="https://www.linkedin.com/in/deborahkchoi" target="_blank">
                            <img class="w-60 h-56 object-cover object-top"
                                src="assets/images/headshots/DeborahChoi_Headshot.webp" alt="" />
                        </a>
                        <div class="flex w-full">
                            <div class="symbol Warmth symlime"></div>
                            <div class="symbol Visibility symblue"></div>
                            <div class="symbol FDL"></div>
                        </div>
                        <div class="pt-4 h-36 flex flex-col items-center justify-center">
                            <a class="text-center no-underline" href="https://www.linkedin.com/in/deborahkchoi"
                                target="_blank">
                                <h5 class="mb-2 text-lg font-bold  text-white">Deborah
                                    Choi
                                </h5>
                            </a>
                            <p class="text-center mb-3 font-normal text-white">Co-Founder</p>
                        </div>
                    </div>
                    <div class="w-60 overflow-hidden m-4 bg-black text-white">
                        <a href="https://www.linkedin.com/in/stephanie-von-behr-278673136/" target="_blank">
                            <img class="w-60 h-56 object-cover object-top"
                                src="assets/images/headshots/StephanievonBehr_Headshot.webp" alt="" />
                        </a>
                        <div class="flex w-full">
                            <div class="symbol Open symlime"></div>
                            <div class="symbol Direction sympink"></div>
                            <div class="symbol FDL"></div>
                        </div>
                        <div class="pt-4 h-36 flex flex-col items-center justify-center">
                            <a class="text-center no-underline"
                                href="https://www.linkedin.com/in/stephanie-von-behr-278673136/" target="_blank">
                                <h5 class="mb-2 text-lg font-bold ">
                                    Stephanie
                                    von Behr
                                </h5>
                            </a>
                            <p class="text-center mb-3 font-normal text-white">Co-Founder</p>
                        </div>
                    </div>
                    <div class="w-60 overflow-hidden m-4 bg-black text-white">
                        <a href="https://www.linkedin.com/in/janine-vanessa/" target="_blank">
                            <img class="w-60 h-56 object-cover object-top"
                                src="assets/images/headshots/JanineHeinrich_Headshot.webp" alt="" />
                        </a>
                        <div class="flex w-full">
                            <div class="symbol Connective symred"></div>
                            <div class="symbol Energized symlime"></div>
                            <div class="symbol FDL"></div>
                        </div>
                        <div class="p-2 h-36 flex flex-col items-center justify-center">
                            <a class="text-center no-underline" href="https://www.linkedin.com/in/janine-vanessa/"
                                target="_blank">
                                <h5 class="mb-2 text-lg font-bold">Janine
                                    Vanessa Heinrich
                                </h5>
                            </a>
                            <p class="text-center mb-3 font-normal text-white">Academic
                                Researcher<br>Project Lead</p>
                        </div>
                    </div>
                    <div class="w-60 overflow-hidden m-4 bg-black text-white">
                        <a href="https://www.linkedin.com/in/dannerys-peralta-445723202/" target="_blank">
                            <img class="w-60 h-56 object-cover object-top"
                                src="assets/images/headshots/DannerysPeralta_Headshot.webp" alt="" />
                        </a>
                        <div class="flex w-full">
                            <div class="symbol Intersectional symred"></div>
                            <div class="symbol Inclusive symblue"></div>
                            <div class="symbol FDL"></div>
                        </div>
                        <div class="pt-4 h-36 flex flex-col items-center justify-center">
                            <a class="text-center no-underline"
                                href="https://www.linkedin.com/in/dannerys-peralta-445723202/" target="_blank">
                                <h5 class="mb-2 text-lg font-bold ">Dannerys
                                    Peralta
                                </h5>
                            </a>
                            <p class="text-center mb-3 font-normal text-white">Project
                                Coordinator<br>Werkstudent</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="w-full flex flex-col justify-center items-center my-4">
                <h3 class="border-l-0 w-full text-center">Co-Researcher Team</h3>
                <div class="flex flex-col md:flex-row flex-wrap justify-center items-center">
                    <div class="w-60 overflow-hidden m-4 bg-black text-white">
                        <a href="https://www.linkedin.com/in/hellohayli/" target="_blank">
                            <img class="w-60 h-56 object-cover object-top"
                                src="assets/images/headshots/HayliChwang_Headshot.webp" alt="" />
                        </a>
                        <div class="flex w-full">
                            <div class="symbol Enhanced symred"></div>
                            <div class="symbol Goals symblue"></div>
                            <div class="symbol FDL"></div>
                        </div>
                        <div class="pt-4 h-36 flex flex-col items-center justify-center">
                            <a class="text-center no-underline" href="https://www.linkedin.com/in/hellohayli/"
                                target="_blank">
                                <h5 class="mb-2 text-lg font-bold ">Hayli
                                    Chwang
                                </h5>
                            </a>
                            <p class="text-center mb-3 font-normal text-white">Co-Researcher</p>
                        </div>
                    </div>
                    <div class="w-60 overflow-hidden m-4 bg-black text-white">
                        <a href="https://www.linkedin.com/in/juliesanepezet/" target="_blank">
                            <img class="w-60 h-56 object-cover object-top"
                                src="assets/images/headshots/JulieSane-Pezet_Headshot.webp" alt="" />
                        </a>
                        <div class="flex w-full">
                            <div class="symbol Security symblue"></div>
                            <div class="symbol Multiplication sympink"></div>
                            <div class="symbol FDL"></div>
                        </div>
                        <div class="pt-4 h-36 flex flex-col items-center justify-center">
                            <a class="text-center no-underline" href="https://www.linkedin.com/in/juliesanepezet/"
                                target="_blank">
                                <h5 class="mb-2 text-lg font-bold ">Julie
                                    Sane-Pezet
                                </h5>
                            </a>
                            <p class="text-center mb-3 font-normal text-white">Co-Researcher</p>
                        </div>
                    </div>
                    <div class="w-60 overflow-hidden m-4 bg-black text-white">
                        <a href="https://www.linkedin.com/in/nina-del-marr/" target="_blank">
                            <img class="w-60 h-56 object-cover object-top"
                                src="assets/images/headshots/NinaDelMarr_Headshot.webp" alt="" />
                        </a>
                        <div class="flex w-full">
                            <div class="symbol Team symred"></div>
                            <div class="symbol Value symblue"></div>
                            <div class="symbol FDL"></div>
                        </div>
                        <div class="pt-4 h-36 flex flex-col items-center justify-center">
                            <a class="text-center no-underline" href="https://www.linkedin.com/in/nina-del-marr/"
                                target="_blank">
                                <h5 class="mb-2 text-lg font-bold ">Nina Del
                                    Marr
                                </h5>
                            </a>
                            <p class="text-center mb-3 font-normal text-white">Co-Researcher</p>
                        </div>
                    </div>
                    <div class="w-60 overflow-hidden m-4 bg-black text-white">
                        <a href="https://www.linkedin.com/in/lexgillon/" target="_blank">
                            <img class="w-60 h-56 object-cover object-top"
                                src="assets/images/headshots/LexGillon_Headshot.webp" alt="" />
                        </a>
                        <div class="flex w-full">
                            <div class="symbol Stability symred"></div>
                            <div class="symbol Uplift symlime"></div>
                            <div class="symbol FDL"></div>
                        </div>
                        <div class="pt-4 h-32">
                            <a class="text-center no-underline" href="https://www.linkedin.com/in/lexgillon/"
                                target="_blank">
                                <h5 class="mb-2 text-lg font-bold tracking-tight">Lex
                                    Gillon
                                </h5>
                            </a>
                            <p class="text-center mb-3 font-normal text-white">Co-Researcher</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="w-full flex flex-col justify-center items-center my-4">
                <h3 class="border-l-0 w-full text-center">Digital Report Team</h3>
                <div class="flex flex-col md:flex-row flex-wrap justify-center items-center">
                    <div class="w-60 overflow-hidden m-4 bg-black text-white">
                        <a href="https://www.linkedin.com/in/jonamar" target="_blank">
                            <img class="w-60 h-56 object-cover object-top"
                                src="assets/images/headshots/blank_Headshot.webp" alt="" />
                        </a>
                        <div class="flex w-full">
                            <div class="symbol Powerful symred"></div>
                            <div class="symbol Navigating symblue"></div>
                            <div class="symbol FDL"></div>
                        </div>
                        <div class="pt-4 h-36 flex flex-col items-center justify-center">
                            <a class="text-center no-underline" href="https://www.linkedin.com/in/jonamar"
                                target="_blank">
                                <h5 class="mb-2 text-lg font-bold ">Jon Amar
                                </h5>
                            </a>
                            <p class="text-center mb-3 font-normal text-white">Product Lead</p>
                        </div>
                    </div>
                    <div class="w-60 overflow-hidden m-4 bg-black text-white">
                        <a href="https://www.linkedin.com/in/victorisidoro" target="_blank">
                            <img class="w-60 h-56 object-cover object-top"
                                src="assets/images/headshots/VictorIsidoro_Headshot.webp" alt="" />
                        </a>
                        <div class="flex w-full">
                            <div class="symbol For symblue"></div>
                            <div class="symbol Forward symlime"></div>
                            <div class="symbol FDL"></div>
                        </div>
                        <div class="pt-4 h-36 flex flex-col items-center justify-center">
                            <a class="text-center no-underline" href="https://www.linkedin.com/in/victorisidoro"
                                target="_blank">
                                <h5 class="mb-2 text-lg font-bold ">Victor
                                    Isidoro
                                </h5>
                            </a>
                            <p class="text-center mb-3 font-normal text-white">Developer</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="5-2" x-intersect="topColor='black',content= '05. Behind the Report'">
    <div class="header-2">
        <h2>Methodology</h2>
    </div>
    <div class="header-3">
        <h3>CoAct Research Cycle</h3>
    </div>
    <div class="section-content">
        <figure>
            <img class="w-full md:w-2/3 mx-auto" src="assets/images/vis/section-5/coactresearch.webp"
                alt="diagram illustrating the metodology used and detailed below">
        </figure>
        <p>For this research, we used both the Citizen Social Science methodology and qualitative research approach to
            gather
            and
            interpret data.
        </p>
    </div>
    <div class="header-3">
        <h3>What is the Citizen Social Science Methodology?</h3>
    </div>
    <div class="section-content">
        <p>The Citizen Social Science (CSS) Methodology is a form of participatory social research that directly
            involves
            selected
            communities in the research process. It aims to provide citizen groups with an equal seat at the table by
            actively
            involving them in the research process, from conception through concrete actions.</p>
        <p>In alignment with CSS methodology, three women of colour founders based in Germany joined the project as
            co-researchers.
            In their roles, they supported the research design, conducted both primary and secondary research, and
            evaluated
            the
            data to create actionable recommendations.
        </p>
        <p>Additionally, due to the significant lack of data on women of colour founders, especially in Germany, this
            report
            took a
            qualitative research approach for the researchers to gain an understanding of the problems and perspectives
            of
            this
            under-researched demographic. It also allowed us to develop concepts and theories for future research.

            To get a holistic understanding of the current state of entrepreneurship for women of colour founders in
            Europe,
            the
            researchers gathered data through both primary sources like interviews and secondary sources such as
            academic
            journals
            and periodicals.
        </p>
        <h4>By utilising the CSS methodology and qualitative research approach, we were able to:</h4>
        <ul>
            <li>Foster trust between the interviewee and interviewer, since they share a similar background and
                experience
            </li>
            <li>Amplify the voices of those whose views are historically excluded</li>
            <li>Provide rich descriptive data and insights into complex phenomena</li>
        </ul>
    </div>
</div>