<!-- 
    source: https://docs.google.com/document/d/1ia16SGZszPCb2LuwcQEVMlAD5S0TjTuMebZGZ3f6NTA/edit?skip_itp2_check=true#
    last updated: 24 sept
-->
<div class="section-head">
    <div class="hidden md:block">
        <div class="symbol1 symbol Forward"></div>
        <div class="symbol2 symbol Calm"></div>
        <div class="symbol3 symbol Value"></div>
    </div>
    <div class="title-card">
        <h1 class="mb-0 uppercase">03.<br>Implications</h1>
    </div>
    <div class="flex flex-col justify-center items-center img">
        <div class="flex">
            <div class="symbol4 symbol No "></div>
            <div class="symbol5 symbol Moving"></div>
        </div>
        <div class="flex flex-grow">
            <img class="w-48 md:w-64 md:h-64 lg:w-80 lg:h-80 object-cover" src="assets/images/section3.webp"
                alt="Women of Color working on a laptop looking at the camera smiling">
        </div>
    </div>
</div>
<div class="section-content">
    <h2 x-intersect="topColor= 'blue',content= '03. Implications'">Where do we go from here?</h2>
    <figure class="relative">
        <span class="quote text-blue">"</span>
        <blockquote>I am no longer accepting the things I cannot change. I am changing the things I cannot accept.
        </blockquote>
        <figcaption>- Interview Participant</figcaption>
    </figure>
    <p>Only 1% of women-led startups and 0.7% of ethnic minority founders received VC funding in Europe in 2021 1.
        This
        can
        make one feel that the state of the European startup ecosystem is a lost cause, but there is power in
        numbers,
        and hope
        when we come together to support the creation of equity for all founders 2, 3. Whether you’re a founder,
        investor,
        policymaker, ally, or simply interested in the topic, we’ve collected further resources and tips below to
        help
        you in
        creating a more equitable startup ecosystem. Take a look below.
    </p>
    <div id="3-1">
        <h3>For Founders</h3>
        <ol>
            <li>Find your community

                <ol>
                    <li>Join mission-aligned organisations (full list here)
                    </li>
                    <li>Participate in events: pitch competitions, networking, and office hours with VCs (full list
                        here)
                    </li>
                </ol>
            </li>
            <li>Practice tactics to address and respond to prejudice

                <ol>
                    <li>Find tips here
                    </li>
                </ol>
            </li>
            <li>Don’t be afraid to promote yourself

                <ol>
                    <li>Did you know that self-promotion has a plethora of benefits ranging from taking control of how
                        you’re perceived to opening doors to new opportunities? (Full list here) #IamRemarkable workshop
                    </li>
                </ol>
            </li>
            <li>
                Further Resources:
                <ol>
                    <li>How to Raise Startup Funds as a Woman of Color</li>
                    <li>Fundraising Opportunities for minorities and Women of Color
                    </li>
                </ol>
            </li>
        </ol>
    </div>
    <div id="3-2">
        <h3>For Investors</h3>
        <ol>
            <li>Implement (un)conscious bias training



            </li>
            <li>Listen to underrepresented voices in your organisation and community

            </li>
            <li>Hire diverse talent for all levels of your firm

            </li>
            <li>
                Get involved
                <ol>
                    <li>Offer pro-bono mentoring
                    </li>
                    <li>Join Beacon: Founderland’s Investor Collective

                    </li>
                </ol>
            </li>
            <li>
                Further Resources:
                <ol>
                    <li>The Power of Diversity: Why homogenous teams in venture capital are bad for business

                    </li>
                    <li>A VC’s Guide to Investing in Black Founders


                    </li>
                    <li>List of anti-racist and DEI leaders that we recommend
                    </li>
                </ol>
            </li>
        </ol>
    </div>
    <div id="3-3" x-intersect="topColor= 'blue', content= '03. Implications'">
        <h3>For Policymakers</h3>
        <ol>
            <li>Collect basic demographic data on ethnicity and gender 4 to get a clearer picture of the systemic
                challenges
                underserved
                people face. We cannot create change without seeing the problem.
            </li>
            <li>Practice tactics to address and respond to prejudice

                <ol>
                    <li>Find tips here
                    </li>
                </ol>
            </li>
            <li>Invest in long-term educational and social equity projects and policies 5
            </li>
            <li>
                Create a visa that makes it easier for people with migration backgrounds to start a company in Germany.
                Every fifth
                startup in Germany is founded by a person with a migration background; however, they frequently face
                obstacles due to
                their migration status. A successful example of this is the French Tech Visa for startup employees,
                founders, and
                investors 6
            </li>
        </ol>
    </div>
</div>