<div class="w-full">
    <div class=" title-card">
        <h1 class="w-full mb-0 uppercase">Foreword</h1>
    </div>
</div>

<div id="0-1" class="relative">
    <span class="quote text-red">"</span>
    <p class="pt-12">
        The modern stereotypical startup founder is typically characterized as a middle-to-upper-class, young,
        highly-educated,
        white male leading a high-growth, high-tech enterprise. This imagery of what constitutes bona fide
        entrepreneurship had
        and continued to inform and influence startup institutional environments—best serving those that fit this
        prototype.
    </p>
    <p>
        This report takes a close examination of the “other” type of founders—those who identify as Women of Colour and
        thereby
        defy such entrepreneurial stereotypes. Based on empirical accounts of these underrepresented founders, the
        report
        unveils several structural constraints that impede resource acquisition as the founders navigate their journeys
        in the
        Berlin startup scene. It highlights that however much they ‘lean into’ making their startup plans happen, there
        are
        daunting systemic barriers preventing them from enacting their full aspirations.
    </p>
    <p>
        Nonetheless, despite their marginalized position, the report’s chronicles suggest that many of these women found
        ways to
        start and grow their ventures—an effort indicative of their unrelenting agency and adept resourcefulness in the
        contexts
        of inequality. Some, informed by their own experiences of discrimination but also their better understanding of
        entrepreneurship, started to challenge the status quo by starting their own venture and contributing to
        practices that
        make their community more inclusive. That is a true ‘disruption’.</p>

    <p>
        But such a feat would by no means be achieved without the paramount support by organizations like Founderland
        who orchestrated this report. Their work helps to mobilize the collective power of these underrepresented
        founders, amplify their voices, and catalyze the ingenious ventures for all of us to see.
    </p>
    <p>The report further highlights the pivotal role of educational institutions. For example, WHU, while being a small
        private business school, is the alma mater of an astonishingly high proportion of VCs and founders in general,
        and
        unicorn founders in particular. This fact underlines the responsibility of educational institutions at the
        center of the
        entrepreneurship ecosystem. They need to take on a leading role as agents of change by contributing to creating
        a more
        inclusive entrepreneurial ecosystem, which leverages the full potential of founder diversity. They can fulfill
        their
        role by enabling underrepresented groups to become part of their student body and grow into the network, by
        living
        diversity, and including related topics in their teaching to fight existing stereotypes and inequalities.
    </p>
    <p>It is not only the educational institutions the report offers food for thought and calls to action for. The
        report
        outlines a comprehensive agenda to bring more equity. It spans a set of repertoires for founders themselves, and
        the
        responsibilities of the policymakers, VCs, and other stakeholders to not just become allies but to play an
        active part
        in making the European startup ecosystem even more competitive and dynamic by enabling underrepresented founders
        to
        flourish and grow their unique ventures.</p>
    <p>We challenge ourselves, the policy makers, and the VC investors to create an inclusive and equitable environment
        for
        everyone to thrive.</p>
    <figcaption>Prof. Pisitta Vongswasdi, PhD
    </figcaption>
    <figcaption>Prof. Julia de Groote, PhD</figcaption>
    <figcaption>WHU Otto Beisheim School of Management</figcaption>
</div>