<!-- 
    source: https://docs.google.com/document/d/1ia16SGZszPCb2LuwcQEVMlAD5S0TjTuMebZGZ3f6NTA/edit?skip_itp2_check=true#
    last updated: 6 sept
-->

<div class="section-head">
    <img src="assets/images/Section-2-min.webp" alt="A Photo Grid of Women of Color.">
    <div class="title-card">
        <h1 class="mb-0">Making of a Founder</h1>        
    </div>
</div>

<div id="2-1">
    <h2>The Rise & Thrive Cohort</h2>

    <p class="lead">The notion that there aren't many female minority founders simply isn't true. These founders are ever-present and growing in numbers. According to the Global Entrepreneurship Monitor (GEM), women constitute a third of high-growth-oriented entrepreneurs.</p>
    <p class="text-col">Like many founders, they are drawn to entrepreneurship because of the challenge, opportunity to create an impact, and the allure of freedom. However, they are also drawn to it because of negative experiences such as workplace discrimination and systemic oppression. In this report, you'll get a glimpse into the stories of 12 powerhouse founders* that are leaving their mark on the German startup scene.</p>

    <h3>Who they are and what they're doing</h3>
    {% include vis-founders.html %}
</div>

<div id="2-2">
    <h2>The Macro Context</h2>
    <p class="lead">While women are 51% of the European population, only 15% of startup founders are female (Source).</p>
    <div class="text-col">
        <p>Additionally, the rate of entrepreneurial activity among European women stands at less than half of the global average, although the characteristics of their ventures are more in tune with high-impact (source). According to the Global Entrepreneurship Monitor, women between the age of 18-34 have the highest participation rates in entrepreneurship. Much like the founders interviewed, "the number of female entrepreneurs who are university graduates is almost twice the world average." In Germany, 22% of startup founders have a migration background, with 59% being first-generation migrants. 91% of first-generation migrant founders are university graduates, which is higher than the general average of 85%. Correspondingly, it was also found that two-thirds of first-generation migrant founders completed their university studies in Germany.</p>
    </div>
    <p>Interestingly, although women barely represent 15% of startup founders, 86% of social enterprises have one female director and 27% a director from an ethnic minority group (source). In the US, women account for 49% of social entrepreneurs as compared to 39% of “traditional” entrepreneurs (source). Similarly, 38% of social ventures in the world are led by women, which is more than twice as many as in conventional businesses (source & source). Additionally, a similar trend can be seen among other underrepresented groups such as Black and Latinx founders. Research has uncovered that these groups of founders are more inclined to have a community-oriented mindset.</p>
    <p>While it was found that underrepresented founders are making significant contributions to bettering our society and planet through social enterprises, it was also uncovered that they will significantly contribute to the global economy and society. In countries like Germany, where entrepreneurial activity is low, these groups of entrepreneurs are expected to be a driving force for the country's economic growth and innovation due to their strong entrepreneurial mindset, higher risk tolerance, and academic backgrounds.</p>
</div>