<div class="section-head">
        <div>
                <div class="symbol1 symbol Forward"></div>
                <div class="symbol2 symbol Calm"></div>
                <div class="symbol3 symbol Value"></div>
        </div>
        <div class="title-card">
                <h1 class="mb-0">06.<br>Appendices</h1>
        </div>
        <div class="flex flex-col justify-center items-center img">
                <div class="flex">
                        <div class="symbol4 symbol No "></div>
                        <div class="symbol5 symbol Moving"></div>
                </div>
                <div class="flex flex-grow img">
                        <img class="w-48 md:w-64 md:h-64 lg:w-80 lg:h-80 object-cover" src="assets/images/section6.webp"
                                alt="Women of Color working on a laptop looking at the camera smiling">
                </div>
        </div>
</div>
<div class="bg-lime text-black py-8">
        <div id="6-1" class="citations" x-intersect="topColor='black', content= '06. Appendices'"
                x-data="{ expanded: false }">
                <div class="sticky top-20 md:top-16 z-30 p-1 px-8 w-full flex items-center bg-lime cursor-pointer"
                        @click="expanded = ! expanded">
                        <h1 class="flex-grow text-xl">Citations</h1>
                        <svg class="w-6 h-6 transition-all duration-300" x-bind:class="{'rotate-180': expanded}"
                                aria-hidden="true" focusable="false" xmlns="http://www.w3.org/2000/svg" fill="none"
                                viewBox="0 0 24 24" stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                        d="M19 9l-7 7-7-7" />
                        </svg>
                </div>
                <div class="citations section-content" x-show="expanded" x-collapse>
                        <ul>
                                <li class="citations" x-data="{ expanded: false }">
                                        <div class="flex items-center cursor-pointer" @click="expanded = ! expanded">
                                                <h2 class="flex-grow pl-0 pt-0 ">Our Lens</h2>
                                                <svg class="w-6 h-6 transition-all duration-300"
                                                        x-bind:class="{'rotate-180': expanded}" aria-hidden="true"
                                                        focusable="false" xmlns="http://www.w3.org/2000/svg" fill="none"
                                                        viewBox="0 0 24 24" stroke="currentColor">
                                                        <path stroke-linecap="round" stroke-linejoin="round"
                                                                stroke-width="2" d="M19 9l-7 7-7-7" />
                                                </svg>
                                        </div>
                                        <ol class="citations mt-2" x-show="expanded" x-collapse>
                                                <li><a href="https://news.crunchbase.com/diversity/black-women-vc-diversity-ty-heath-linkedin/"
                                                                target="_blank">Crunchbase News: VCs: This Is Why You’re
                                                                Not Investing In Black Women,
                                                                And Here’s How To
                                                                Change
                                                                That</a>
                                                </li>
                                                <li><a href="https://stateofeuropeantech.com/reading-tracks/state-of-dei"
                                                                target="_blank">State
                                                                of European Tech 2022: State of DEI</a></li>
                                                <li><a href="http://www.wocresist.com/wp-content/uploads/2021/12/Women-of-Colour-Resist.pdf"
                                                                target="_blank">Women of Colour Resist: Exploring Women
                                                                of Colour’s Activism in
                                                                Europe</a></li>
                                        </ol>
                                </li>
                                <li class="citations" x-data="{ expanded: false }">
                                        <div class="flex items-center cursor-pointer" @click="expanded = ! expanded">
                                                <h2 class="flex-grow pl-0 pt-0 ">Our Findings</h2>
                                                <svg class="w-6 h-6 transition-all duration-300"
                                                        x-bind:class="{'rotate-180': expanded}" aria-hidden="true"
                                                        focusable="false" xmlns="http://www.w3.org/2000/svg" fill="none"
                                                        viewBox="0 0 24 24" stroke="currentColor">
                                                        <path stroke-linecap="round" stroke-linejoin="round"
                                                                stroke-width="2" d="M19 9l-7 7-7-7" />
                                                </svg>
                                        </div>
                                        <ul class="citations mt-2" x-show="expanded" x-collapse>
                                                <li> Intersectionality
                                                        <ol class="citations pl-5 mt-2">
                                                                <li><a href="https://www.intersectionaljustice.org/what-is-intersectionality"
                                                                                target="_blank">Center for
                                                                                Intersectional Justice: What is
                                                                                Intersectionality?</a></li>
                                                                <li><a href="https://www.womankind.org.uk/intersectionality-101-what-is-it-and-why-is-it-important/#:~:text=Intersectionality%20is%20the%20acknowledgement%20that,orientation%2C%20physical%20ability%2C%20etc."
                                                                                target="_blank">Womankind Worldwide:
                                                                                Intersectionality 101: what is it and
                                                                                why
                                                                                is it important?</a></li>
                                                                <li><a href="https://www.vox.com/the-highlight/2019/5/20/18542843/intersectionality-conservatism-law-race-gender-discrimination"
                                                                                target="_blank">Vox: The
                                                                                intersectionality wars</a></li>
                                                                <li><a href="https://helpfulprofessor.com/examples-of-intersectionality/"
                                                                                target="_blank">...</a></li>
                                                                <li><a href="https://www.ywboston.org/2017/03/what-is-intersectionality-and-what-does-it-have-to-do-with-me/#:~:text=Intersectionality%20recognizes%20that%20identity%20markers,a%20white%20man%27s%20dollar%2C%20respectively."
                                                                                target="_blank">...</a></li>
                                                                <li><a href="https://www.intersectionaljustice.org/what-is-intersectionality"
                                                                                target="_blank">...</a></li>
                                                        </ol>
                                                </li>
                                                <li> Motivators
                                                        <ol class="citations pl-5 mt-2">
                                                                <li><a href="https://www.researchgate.net/publication/228270828_Barriers_to_Women_Achieving_Their_Entrepreneurial_Potential_Women_and_Risk"
                                                                                target="_blank">...</a></li>
                                                                <li><a href="https://www.merriam-webster.com/dictionary/discrimination#:~:text=dis%C2%B7%E2%80%8Bcrim%C2%B7%E2%80%8Bi,or%20power%20of%20finely%20distinguishing"
                                                                                target="_blank">...</a></li>
                                                                <li><a href="https://dictionary.cambridge.org/dictionary/english/discrimination"
                                                                                target="_blank">...</a></li>
                                                                <li><a href="https://www.google.com/search?q=glass+ceiling+definition&rlz=1C5CHFA_enDE1004DE1004&oq=glass+ceiling+definition&aqs=chrome.0.69i59j0i512l5j0i22i30l4.4920j0j7&sourceid=chrome&ie=UTF-8"
                                                                                target="_blank">...</a></li>
                                                                <li><a href="https://scholarship.richmond.edu/cgi/viewcontent.cgi?article=1017&context=management-faculty-publications#:~:text=One%20study%20conducted%20by%20the,Coughlin%20%26%20Thomas%2C%202002)."
                                                                                target="_blank">...</a></li>
                                                                <li><a href="https://nypost.com/2020/07/06/why-the-majority-of-women-want-to-be-their-own-boss/"
                                                                                target="_blank">...</a></li>
                                                                <li><a href="https://iamherbalifenutrition.com/business-opportunity/why-women-entrepreneurs-choose-herbalife-nutrition/"
                                                                                target="_blank">...</a></li>
                                                                <li><a href="https://hbr.org/2012/09/will-working-mothers-take-your-company-to-court#:~:text=Maternal%20wall%20bias%2C%20however%2C%20often,hired%20than%20one%20without%20children."
                                                                                target="_blank">...</a></li>
                                                                <li><a href="https://www.antidiskriminierungsstelle.de/SharedDocs/aktuelles/DE/2018/20181205_Unzulaessige_Fragen_Bewerbung.html"
                                                                                target="_blank">...</a></li>
                                                                <li><a href="https://www.dw.com/en/germany-no-arabs-please-job-rejection-controversy/a-52014350"
                                                                                target="_blank">...</a></li>
                                                                <li><a href="https://www.antidiskriminierungsstelle.de/SharedDocs/aktuelles/DE/2018/20181205_Unzulaessige_Fragen_Bewerbung.html"
                                                                                target="_blank">...</a></li>
                                                                <li><a href="https://www.antidiskriminierungsstelle.de/EN/homepage/_documents/download_jahresbericht_2020.pdf%3Bjsessionid=4D5DF32882181D0E66B9161ED5C3FC10.intranet212?__blob=publicationFile&v=1"
                                                                                target="_blank">...</a></li>
                                                        </ol>
                                                </li>
                                                <li>Mission. Purpose. Passion.
                                                        <ol class="citations pl-5 mt-2">
                                                                <li><a href="https://www.pioneerspost.com/news-views/20200220/frauen-power-are-germany-s-social-enterprises-bucking-trend-of-male-dominated"
                                                                                target="_blank">...</a></li>
                                                                <li><a href="https://www.businesswire.com/news/home/20220921005358/en/Herbalife-Nutrition-Survey-Reveals-Top-Ten-Modern-Day-Entrepreneurs-and-What-Traits-are-Needed-to-Join-the-List"
                                                                                target="_blank">...</a></li>
                                                                <li><a href="https://iamherbalifenutrition.com/press-releases/herbalife-nutrition-commissioned-a-survey-and-found-that-88-percent-of-respondents-said-people-who-want-to-be-successful-cant-be-afraid-to-make-mistakes/"
                                                                                target="_blank">...</a></li>

                                                        </ol>
                                                </li>
                                                <li>Homophily Networks
                                                        <ol class="citations pl-5 mt-2">
                                                                <li><a href="https://www.futurelearn.com/info/courses/social-media/0/steps/16055"
                                                                                target="_blank">...</a></li>
                                                                <li><a href="https://link.springer.com/article/10.1007/s11135-013-9915-4"
                                                                                target="_blank">...</a></li>
                                                                <li><a href="https://startupverband.de/fileadmin/startupverband/mediaarchiv/research/dsm/dsm_2021.pdf"
                                                                                target="_blank">...</a></li>
                                                                <li><a href="https://www.forbes.com/sites/hbsworkingknowledge/2018/10/10/diversity-boosts-profits-in-venture-capital-firms/?sh=dcd4b49323ba&utm_content=buffer02cb8&utm_medium=social&utm_source=linkedin.com&utm_campaign=buffer"
                                                                                target="_blank">...</a></li>
                                                                <li><a href="https://pitchbook.com/news/articles/the-top-10-most-active-german-vcs"
                                                                                target="_blank">...</a></li>
                                                                <li><a href="https://www.vestbee.com/blog/articles/top-vc-funds-in-germany-to-finance-your-startup"
                                                                                target="_blank">...</a></li>
                                                                <li><a href="https://startupverband.de/fileadmin/startupverband/mediaarchiv/research/migrant_founders/Migrant_Founders_Monitor_2022.pdf"
                                                                                target="_blank">...</a></li>
                                                                <li><a href="https://startupverband.de/fileadmin/startupverband/mediaarchiv/research/migrant_founders/mfm_2021_en.pdf"
                                                                                target="_blank">...</a></li>
                                                                <li><a href="https://www.deutschland.de/en/topic/business/german-economy-entrepreneurs-with-migrant-backgrounds"
                                                                                target="_blank">...</a></li>
                                                                <li><a href="https://www.bvca.co.uk/Our-Industry/Venture-Capital#:~:text=The%20ultimate%20goal%20of%20venture,disruptive%20business%20model%20or%20product."
                                                                                target="_blank">...</a></li>
                                                                <li><a href="https://girlboss.com/blogs/read/venture-capital-woc-women-of-color"
                                                                                target="_blank">...</a></li>
                                                                <li><a href="https://www.hbs.edu/faculty/Pages/item.aspx?num=54068"
                                                                                target="_blank">...</a></li>
                                                                <li><a href="https://www.hbs.edu/faculty/Pages/item.aspx?num=58220"
                                                                                target="_blank">...</a></li>
                                                                <li><a href="https://www.simplypsychology.org/cognitive-bias.html"
                                                                                target="_blank">...</a></li>
                                                                <li><a href="https://www.pioneerspost.com/news-views/20200220/frauen-power-are-germany-s-social-enterprises-bucking-trend-of-male-dominated"
                                                                                target="_blank">...</a></li>
                                                                <li><a href="https://www.techstars.com/the-line/pov/networks-can-turn-the-tide-for-underrepresented-entrepreneurs"
                                                                                target="_blank">...</a></li>
                                                        </ol>
                                                </li>
                                                <li>Prejudice
                                                        <ol class="citations pl-5 mt-2">
                                                                <li><a href="https://www.emerald.com/insight/content/doi/10.1108/17542411211279733/full/html"
                                                                                target="_blank">...</a></li>
                                                                <li><a href="https://www.hbs.edu/faculty/Pages/item.aspx?num=54068"
                                                                                target="_blank">...</a></li>
                                                                <li><a href="https://www.cnbc.com/2019/10/03/hsbc-a-third-of-the-worlds-female-entrepreneurs-face-gender-bias.html"
                                                                                target="_blank">...</a></li>
                                                                <li><a href="https://www.forbes.com/sites/yec/2019/05/14/how-female-entrepreneurs-should-address-business-prejudice/?sh=28102aa4595f"
                                                                                target="_blank">...</a></li>
                                                        </ol>
                                                </li>
                                                <li>Funding
                                                        <ol class="citations pl-5 mt-2">
                                                                <li><a href="https://swnsdigital.com/us/2020/07/discriminated-against-and-harassed-women-are-becoming-entrepreneurs-to-avoid-unfair-treatment-in-the-workplace/"
                                                                                target="_blank">...</a></li>
                                                                <li><a href="https://www.emerald.com/insight/content/doi/10.1108/17542411211279733/full/html"
                                                                                target="_blank">...</a></li>
                                                                <li><a href="https://www.techstars.com/the-line/pov/networks-can-turn-the-tide-for-underrepresented-entrepreneurs"
                                                                                target="_blank">...</a></li>
                                                                <li><a href="https://startupverband.de/fileadmin/startupverband/mediaarchiv/research/migrant_founders/mfm_2021_en.pdf"
                                                                                target="_blank">...</a></li>
                                                                <li><a href="https://www.morganstanley.com/content/dam/msdotcom/mcil/growing-market-investors-are-missing.pdf"
                                                                                target="_blank">...</a></li>
                                                                <li><a href="https://sifted.eu/articles/vc-general-partners-europe/"
                                                                                target="_blank">...</a></li>
                                                                <li><a href="https://sifted.eu/articles/diversity-data-european-vc/"
                                                                                target="_blank">...</a></li>
                                                                <li><a href="https://www.forbes.com/sites/yec/2019/05/14/how-female-entrepreneurs-should-address-business-prejudice/?sh=28102aa4595f"
                                                                                target="_blank">...</a></li>
                                                        </ol>
                                                </li>
                                                <li>Diversity Washing
                                                        <ol class="citations pl-5 mt-2">
                                                                <li><a href="https://tech.eu/2022/05/27/female-founders-its-your-time-to-rocket-up/"
                                                                                target="_blank">...</a></li>
                                                                <li><a href="https://2020.stateofeuropeantech.com/chapter/diversity-inclusion/article/diversity-inclusion/"
                                                                                target="_blank">...</a></li>
                                                                <li><a href="https://vivatechnology.com/news/empowering-women-led-businesses---vivatech's-top-30-female-founders"
                                                                                target="_blank">...</a></li>
                                                                <li><a href="https://www.morganstanley.com/content/dam/msdotcom/mcil/growing-market-investors-are-missing.pdf"
                                                                                target="_blank">...</a></li>
                                                        </ol>
                                                </li>
                                        </ul>
                                </li>
                                <li class="citations" x-data="{ expanded: false }">
                                        <div class="flex items-center cursor-pointer" @click="expanded = ! expanded">
                                                <h2 class="flex-grow pl-0 pt-0 ">Implications</h2>
                                                <svg class="w-6 h-6 transition-all duration-300"
                                                        x-bind:class="{'rotate-180': expanded}" aria-hidden="true"
                                                        focusable="false" xmlns="http://www.w3.org/2000/svg" fill="none"
                                                        viewBox="0 0 24 24" stroke="currentColor">
                                                        <path stroke-linecap="round" stroke-linejoin="round"
                                                                stroke-width="2" d="M19 9l-7 7-7-7" />
                                                </svg>
                                        </div>
                                        <ul class="citations mt-2" x-show="expanded" x-collapse>
                                                <ol class="citations pl-5 mt-2">
                                                        <li><a href="https://dealroom.co/blog/international-womens-day-the-gender-funding-gap"
                                                                        target="_blank">...</a></li>
                                                        <li><a href="https://sifted.eu/articles/atomico-state-of-european-tech-2022/"
                                                                        target="_blank">...</a></li>
                                                        <li><a href="https://stateofeuropeantech.com/?utm_source=Female+Founders+Community&utm_campaign=3d0b0cff6a-EMAIL_CAMPAIGN_FF_DEC_2_22&utm_medium=email&utm_term=0_631e2d960e-3d0b0cff6a-595042871"
                                                                        target="_blank">...</a></li>
                                                        <li><a href="https://www.opennetwork.net/minority-businesses-matter-europe/"
                                                                        target="_blank">...</a></li>
                                                        <li><a href="https://stateofeuropeantech.com/reading-tracks/state-of-dei"
                                                                        target="_blank">...</a></li>
                                                        <li><a href="https://www.rolandberger.com/en/Insights/Publications/Startups-could-create-almost-4-million-jobs-in-Germany-by-2030.html"
                                                                        target="_blank">...</a></li>
                                                </ol>
                                        </ul>
                                </li>
                                <li class="citations" x-data="{ expanded: false }">
                                        <div class="flex items-center cursor-pointer" @click="expanded = ! expanded">
                                                <h2 class="flex-grow pl-0 pt-0 ">The Makings of a Founder</h2>
                                                <svg class="w-6 h-6 transition-all duration-300"
                                                        x-bind:class="{'rotate-180': expanded}" aria-hidden="true"
                                                        focusable="false" xmlns="http://www.w3.org/2000/svg" fill="none"
                                                        viewBox="0 0 24 24" stroke="currentColor">
                                                        <path stroke-linecap="round" stroke-linejoin="round"
                                                                stroke-width="2" d="M19 9l-7 7-7-7" />
                                                </svg>
                                        </div>
                                        <div class="citations mt-2" x-show="expanded" x-collapse>
                                                <ol class="citations pl-5 mt-2">
                                                        <li><a href="https://techcrunch.com/2021/02/14/examining-the-pipeline-problem/?guccounter=1&guce_referrer=aHR0cHM6Ly93d3cuZ29vZ2xlLmNvbS8&guce_referrer_sig=AQAAAFc72fXFvQ4XeMofh9azlf947c0AypokEsKoIYRqwHWP_OW3hs1NuJUnPkEjHW_CLPTYXqaaiJlykbe0lhQcBNJeBhkx2Zsu-w9poO6yw0oMAeVQBF0kenc86tH9HB18xYwzrnzGiDjhywLE4JH9njtHvXqMFaEzGn5IOvIZfT1a"
                                                                        target="_blank">...</a></li>
                                                        <li><a href="https://www.inc.com/women-entrepreneurship-report/index.html"
                                                                        target="_blank">...</a></li>
                                                        <li><a href="https://startupverband.de/fileadmin/startupverband/mediaarchiv/research/ffm/ffm_2020_en.pdf"
                                                                        target="_blank">...</a></li>
                                                        <li><a href="https://shop.freiheit.org/#!/Publikation/1288"
                                                                        target="_blank">...</a></li>
                                                        <li><a href="https://www.emerald.com/insight/content/doi/10.1108/09649420410529861/full/html"
                                                                        target="_blank">...</a></li>
                                                        <li><a href="https://addicted2success.com/entrepreneur-profile/6-reasons-why-more-women-are-turning-to-entrepreneurship/"
                                                                        target="_blank">...</a></li>
                                                        <li><a href="https://www.forbes.com/sites/carolinecastrillon/2019/02/04/why-more-women-are-turning-to-entrepreneurship/?sh=577fea72542a"
                                                                        target="_blank">...</a></li>
                                                        <li><a href="http://hetfa.hu/wp-content/uploads/2018/02/hetfa_wp_27_bobak_geambasu_radnai_zsar.pdf"
                                                                        target="_blank">...</a></li>
                                                        <li><a href="https://www.gemconsortium.org/report/gem-202021-womens-entrepreneurship-report-thriving-through-crisis"
                                                                        target="_blank">...</a></li>
                                                        <li><a href="https://www.theguardian.com/social-enterprise-network/women-in-leadership-blog/2013/oct/23/why-more-women-leading-social-business"
                                                                        target="_blank">...</a></li>
                                                        <li><a href="https://beetroot.co/life/why-more-women-tend-to-run-social-enterprises/"
                                                                        target="_blank">...</a></li>
                                                        <li><a href="https://www.theguardian.com/social-enterprise-network/2012/sep/04/celebrating-diversity-social-enterprise"
                                                                        target="_blank">...</a></li>
                                                        <li><a href="https://cdn.www.nwbc.gov/wp-content/uploads/2017/02/13134000/Social-entrepreneurship-amongst-women-and-men-in-the-United-States_021617.pdf"
                                                                        target="_blank">...</a></li>
                                                        <li><a href="https://www.ey.com/en_us/diversity-inclusiveness/the-outsized-impact-of-black-and-latinx-entrepreneurs"
                                                                        target="_blank">...</a></li>
                                                        <li><a href="https://www.opennetwork.net/minority-businesses-matter-europe/"
                                                                        target="_blank">...</a></li>
                                                        <li><a href="https://www.gemconsortium.org/report/gem-202021-womens-entrepreneurship-report-thriving-through-crisis"
                                                                        target="_blank">...</a></li>
                                                        <li><a href="https://shop.freiheit.org/#!/Publikation/1288"
                                                                        target="_blank">...</a></li>
                                                        <li><a href="https://startupverband.de/fileadmin/startupverband/mediaarchiv/research/migrant_founders/mfm_2021_en.pdf"
                                                                        target="_blank">...</a></li>
                                                        <li><a href="https://www.opennetwork.net/minority-businesses-matter-europe/"
                                                                        target="_blank">...</a></li>
                                                        <li><a href="https://www.gemconsortium.org/economy-profiles/germany-2#:~:text=According%20to%20GEM's%202021%20survey,the%20country's%20TEA%20rate%20increased."
                                                                        target="_blank">...</a></li>
                                                        <li><a href="https://startupverband.de/fileadmin/startupverband/mediaarchiv/research/migrant_founders/mfm_2021_en.pdf"
                                                                        target="_blank">...</a></li>
                                                </ol>
                                        </div>
                                </li>
                        </ul>
                </div>
        </div>
        <div id="6-2" x-data="{ expanded: false }">
                <div class="sticky top-20 md:top-16 z-30 p-1 px-8 w-full flex items-center bg-lime cursor-pointer"
                        @click="expanded = ! expanded">
                        <h1 class="flex-grow  text-xl">Glossary</h1>
                        <svg class="w-6 h-6 transition-all duration-300" x-bind:class="{'rotate-180': expanded}"
                                aria-hidden="true" focusable="false" xmlns="http://www.w3.org/2000/svg" fill="none"
                                viewBox="0 0 24 24" stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                        d="M19 9l-7 7-7-7" />
                        </svg>
                </div>
                <div class="section-content text-justify" x-show="expanded" x-collapse>
                        <ul>
                                <li><span class="highlight">Women of Colour:</span> Women who experience the effects and
                                        processes of
                                        racialisation, class, and gender
                                        domination
                                        as well
                                        as other sources of inequality, particularly hierarchies of legal status (Bassel
                                        and Emejulu 2017).
                                        This
                                        includes, but
                                        is not limited to, women founders who hold ethnic backgrounds or heritage in
                                        Africa, the Caribbean,
                                        South &
                                        Central
                                        America, South & Southeast Asia, and the Middle East <sup><a
                                                        href="https://www.founderland.org/faq"
                                                        target="_blank">1</a></sup><sup>, </sup><sup><a
                                                        href="http://www.wocresist.com/wp-content/uploads/2021/12/Women-of-Colour-Resist.pdf"
                                                        target="_blank">2</a></sup></li>
                                <li>
                                        <span class="highlight">BAME:</span> Abbreviation for Black, Asian, and Minority
                                        Ethnic. This term
                                        is more common in the UK as it
                                        refers to
                                        the
                                        two
                                        largest ethnic minority groups in the country <sup><a
                                                        href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC7780538/"
                                                        target="_blank">3</a></sup>
                                </li>
                                <li><span class="highlight">BIPOC:</span> Abbreviation for Black, Indigenous,People of
                                        Colour. This term
                                        is more common the the US as
                                        it
                                        refers
                                        to
                                        the two
                                        groups of ethnic minorities in the country that faced the greatest
                                        discrimination and longest
                                        history of
                                        oppression <sup><a href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC7780538/"
                                                        target="_blank">3</a></sup></li>
                                <li>
                                        <span class="highlight">Impact Investing:</span> an investment strategy that
                                        aims to create a
                                        beneficial social and environmental
                                        impact in
                                        addition to
                                        financial gains <sup><a
                                                        href="https://www.investopedia.com/terms/i/impact-investing.asp"
                                                        target="_blank">4</a></sup>
                                </li>
                                <li>
                                        <span class="highlight">Social Entrepreneurship:</span> the process of
                                        identifying social,
                                        environmental, and cultural problems and
                                        creating
                                        solutions
                                        through the development, implementation, and funding of entrepreneurial
                                        projects. These endeavours
                                        can
                                        be
                                        taken
                                        by
                                        individuals, groups, startups, or corporations <sup><a
                                                        href="https://www.managementstudyguide.com/social-entrepreneurship.htm"
                                                        target="_blank">5</a></sup><sup>, </sup><sup><a
                                                        href="https://www.uschamber.com/co/start/startup/what-is-social-entrepreneurship"
                                                        target="_blank">6</a></sup>
                                </li>
                                <li>
                                        <span class="highlight">Funding Stages:</span> Also known as funding rounds are
                                        a means of getting
                                        financial capital in order to
                                        finance a
                                        startup’s
                                        costs of operations, such as personnel and marketing. Startups typically go
                                        through multiple stages
                                        depending on
                                        their
                                        needs during their lifecycle, which are as follows: <sup><a
                                                        href="https://visible.vc/blog/startup-funding-stages/"
                                                        target="_blank">7</a></sup><sup>,
                                        </sup><sup><a href="https://www.investopedia.com/articles/personal-finance/102015/series-b-c-funding-what-it-all-means-and-how-it-works.asp"
                                                        target="_blank">8</a></sup><sup>, </sup><sup><a
                                                        href="https://www.startups.com/library/expert-advice/series-funding-a-b-c-d-e"
                                                        target="_blank">9</a></sup>
                                        <ul>
                                                <li class="mt-4">
                                                        <span class="highlight">Pre-seed:</span> Typically the first
                                                        round of institutional funding
                                                        that a startup raises from
                                                        dedicated
                                                        venture
                                                        capital funds,
                                                        angel investors, and/or accelerators/incubators. Generally, this
                                                        round allows the founding
                                                        team to
                                                        find
                                                        product-market
                                                        fit, hire early employees, and test various go-to-market
                                                        strategies
                                                </li>
                                                <li>
                                                        <span class="highlight">Seed:</span> One of the early funding
                                                        stages. Typically, capital is
                                                        raised from institutional
                                                        investors
                                                        such as
                                                        dedicated
                                                        venture capital funds, angel investors, and/or
                                                        accelerators/incubators. The founding team
                                                        will use
                                                        this
                                                        capital
                                                        to
                                                        further develop their product, go-to-market strategy,
                                                        operations, and team. A startup in
                                                        this stage
                                                        has
                                                        little
                                                        to no
                                                        revenue
                                                </li>
                                                <li>
                                                        <span class="highlight">Series Funding:</span> After
                                                        demonstrating a viable business model,
                                                        product-market fit, and a
                                                        strong
                                                        strategy
                                                        with
                                                        growth
                                                        potential, startups are able to go into series funding, which
                                                        starts with Series A, followed
                                                        by
                                                        Series
                                                        B,
                                                        Series
                                                        C, etc.
                                                        During this round, investors expect to see steady traction and
                                                        for the capital raised to be
                                                        used to
                                                        increase
                                                        revenue
                                                </li>
                                        </ul>
                                </li>
                                <li>
                                        <span class="highlight">Exit:</span> The point where founders and/or investors
                                        leave the startup
                                </li>
                                <li>
                                        <span class="highlight">Accelerator:</span> Programs focused on speeding up the
                                        growth of an
                                        existing company that has a minimum
                                        viable
                                        product
                                </li>
                                <li>
                                        <span class="highlight">Incubator:</span> Programs focused on helping startups
                                        in the product
                                        development stage
                                </li>
                                <li>
                                        <span class="highlight">Venture Capital (VC):</span> a form of private equity
                                        and type of financing
                                        that investors provide to
                                        startups
                                        that
                                        they
                                        believe have long-term growth potential. The idea is to invest in a company
                                        until it reaches a
                                        sufficient
                                        size
                                        and
                                        credibility for investors to eventually exit (e.g., sale of company or IPO)
                                        <sup><a href="https://www.investopedia.com/terms/v/venturecapital.asp"
                                                        target="_blank">10</a></sup><sup>, </sup><sup><a
                                                        href="https://hbr.org/1998/11/how-venture-capital-works"
                                                        target="_blank">11</a></sup>
                                </li>
                                <li>
                                        <span class="highlight">Business Angel/ Angel Investor:</span> A private
                                        individual, often with a
                                        high net worth and business
                                        experience,
                                        who
                                        directly
                                        invests capital into a startup in exchange for ownership equity or convertible
                                        debt <sup><a href="https://single-market-economy.ec.europa.eu/access-finance/policy-areas/business-angels_en"
                                                        target="_blank">12</a></sup><sup>, </sup><sup><a
                                                        href="https://www.investopedia.com/terms/a/angelinvestor.asp#:~:text=Angel%20investors%20are%20also%20called,ownership%20equity%20or%20convertible%20debt."
                                                        target="_blank">13</a></sup>
                                </li>
                                <li>
                                        <span class="highlight">Bootstrapping:</span> A situation in which an
                                        entrepreneur starts a company
                                        with little capital, relying on
                                        money
                                        other
                                        than
                                        outside investment, such as using their personal finances or the operating
                                        revenue to fund the
                                        company
                                </li>
                                <li>
                                        <span class="highlight">Traction:</span> The progress and momentum of a startup
                                        company, which can
                                        be measured in metrics such as
                                        user
                                        growth,
                                        sales,
                                        etc. <sup><a href="https://coresignal.com/blog/business-traction/"
                                                        target="_blank">14</a></sup><sup>, </sup><sup><a
                                                        href="https://www.startups.com/library/expert-advice/startup-traction"
                                                        target="_blank">15</a></sup>
                                </li>
                                <li>
                                        <span class="highlight">Valuation:</span> An estimation of the worth of a
                                        startup
                                </li>
                        </ul>
                </div>
        </div>
</div>