<div class="section-head">
    <div class="symbol1 symbol Forward"></div>
    <div class="symbol2 symbol Calm"></div>
    <div class="symbol3 symbol Value"></div>
    <div class="symbol4 symbol No"></div>
    <div class="symbol5 symbol Moving"></div>
    <div class="flex justify-center items-center img">
        <img class=" img" src="assets/images/section5.jpg"
            alt="Women of Color working on a laptop looking at the camera smiling">
    </div>
    <div class="title-card">
        <h1 class="mb-0">Behind <br>The Report</h1>
    </div>
</div>

<div id="5-1">
    <div class="md:grid md:grid-cols-3 md:gap-8 md:mb-8">
        <div class="col-span-2">
            <p>Three women fed up with ‘how things were’ when it came to: who got access to exclusive networking events
                with all ‘the right people’, how enviable keynote speaking opportunities were circulated, decided and
                compensated, how homogenous those who held check writing power appeared, how very few women who were not
                white, got funded, supported and seen. Then &ndash; Stephanie von Behr, Alina Bassi and Deborah Choi
                &ndash; found each other and founded a community to what Founderland is today. Founderland gUG is a
                non-profit organization focused on building a new inclusive, intersectional standard for entrepreneurs.
                Their work supports women of color founders navigating the entrepreneurial ecosystem by providing them
                with a safe space to network, share knowledge, and build their ventures.</p>
            <p class="md:mb-0">In July 2021, CoAct (a project funded by the European Union’s Horizon 2020 research and
                innovation programme) held an open call for European Civil Society Initiatives to conduct Citizen Social
                Science (CSS) Research. Founderland was selected in the Gender Equality & Sustainable Cities and
                Communities category and provided with additional mentorship from faculty at the University of Applied
                Sciences Potsdam (FHP).</p>
        </div>
        <div class="col-span-1 flex flex-col items-center justify-center ">
            <img class="w-1/2" src="assets/images/Founderland_Logo.svg" alt="Founderland Logo">
            <img class="w-1/2 mt-8" src="assets/images/CoAct_Logo-bw.svg" alt="CoAct Logo">
            <img class="w-1/2 mt-8" src="assets/images/FHP_Logo-bw.svg" alt="FHP Logo">
        </div>
    </div>

    <p>In line with the Citizen Social Science methodology, four women of color founders from Founderland’s community
        were selected as co-researchers, which meant that they actively took on the role of researchers by conducting
        both primary and secondary research. Find out about the team and their motivation below:</p>

    <h3>Founderland Founders & Team</h3>
    <p><a href="https://www.linkedin.com/in/alinabassi/">Alina Bassi</a> - Co-Founder</p>
    <p><a href="https://www.linkedin.com/in/deborahkchoi/">Deborah Choi</a> - Co-Founder</p>
    <p><a href="https://www.linkedin.com/in/stephanie-von-behr-278673136/">Stephanie von Behr</a> - Co-Founder</p>
    <p><a href="https://www.linkedin.com/in/dannerys-peralta-445723202/">Dannerys Peralta</a></p>

    <h3>Research Team</h3>
    <p><a href="https://www.linkedin.com/in/janine-vanessa/">Janine Vanessa Heinrich</a> - Academic Researcher</p>
    <p><a href="https://www.linkedin.com/in/nina-del-marr/">Nina Del Marr</a> - Co-Researcher</p>
    <p><a href="https://www.linkedin.com/in/hellohayli/">Hayli Chwang</a> - Co-Researcher</p>
    <p><a href="https://www.linkedin.com/in/juliesanepezet/">Julie Sane-Pezet</a> - Co-Researcher</p>
    <p><a href="https://www.linkedin.com/in/lexgillon/">Lex Gillon</a> - Co-Researcher </p>

    <h3>Digital Report Team</h3>
    <p><a href="https://www.linkedin.com/in/jonamar">Jon Amar</a> - Design and Development</p>
    <p><a href="https://www.linkedin.com/in/victorisidoro">Victor Isidoro</a> - Development</p>

</div>
<div id="5-2">
    <h2>Methodology</h2>
    <p class="lead">For this research, both the citizen social science methodology and qualitative research approach
        were used to gather and interpret data.</p>

    <h3>What is the Citizen Social Science Methodology?</h3>
    <p>The Citizen Social Science (CSS) Methodology is a form of participatory social research that directly involves
        selected communities (groups) in the research process. It aims to provide citizen groups with an equal seat at
        the table by actively involving them in the research process from conception through concrete actions.</p>

    <div class="text-col">
        <p>Utilizing this method meant that four women of color founders based in Germany joined the project as
            co-researchers. In their roles, they supported the research design, conducted both primary and secondary
            research, and evaluated the data to create actionable recommendations.</p>
        <p>Additionally, due to the significant lack of data on women of color founders, especially in Germany, this
            research report took a qualitative research approach. This approach enabled the researchers to gain an
            understanding of the problems and perspectives of this under-researched demographic. Moreover, it allows for
            the development of concepts and theories for future research in the field</p>
        <p>The researchers gathered data through secondary sources such as academic journals and periodicals, as well as
            primary sources such as interviews. In this way, they were able to gain a holistic understanding of the
            current state of entrepreneurship for women of color. </p>
    </div>

    <h3>By utilizing the CCS methodology and qualitative research approach, we were able to:</h3>
    <ul>
        <li>Foster trust between the interviewee and interviewer as they share a similar background and experience</li>
        <li>Illuminate the voices of those whose views are historically excluded</li>
        <li>Provide rich descriptive data and insights into complex phenomena</li>
    </ul>
</div>