<div class="section-head">
    <img src="assets/images/section6.jpg" alt="woman of color">
    <div class="title-card">
        <!-- <div class="bg-lime w-16 h-16 inline-block">
            <i class="symbol Goals black"></i>
        </div> -->
        <h1 class="mb-0">Appendix</h1>
    </div>
</div>


<div id="6-1">
    <h2>Citations</h2>
    <li>...</li>
    <li>...</li>
    <li>...</li>
    <li>...</li>
    <li>...</li>
    <li>...</li>
    <li>...</li>
    <li>...</li>
    <li>...</li>
</div>
<div id="6-2">
    <h2>Glossary</h2>
    <ul>
        <li>Women of Color</li>
        <li>BAME</li>
        <li>BIPOC</li>
        <li>Impact Venture </li>
        <li>Social Entrepreneurship </li>
        <li>Funding Stages- Pre-seed, seed, Series A, etc </li>
        <li>Exit </li>
        <li>Accelerator </li>
        <li>Incubator </li>
        <li>Venture Capital(ist) </li>
        <li>Business Angel/ Angel Investor</li>
        <li>Bootstrapping </li>
        <li>Founder</li>
        <li>Traction</li>
        <li>Valuation</li>
    </ul>
</div>