<!-- Slider main container -->
<div class="swiper">
  <!-- Additional required wrapper -->
  <div class="swiper-wrapper">
    <!-- Slides -->
    <div class="swiper-slide">
      <h5 class="text-center w-full">Meet our <br>Twelve Participants</h5>
      <img src="assets/images/vis/section-2/Slide-1.svg" />
    </div>
    <div class="swiper-slide">
      <h5 class="text-center w-full">All women of colour <br>entrepreneurs</h5>
      <img src="assets/images/vis/section-2/Slide-2.svg" />
    </div>
    <div class="swiper-slide">
      <h5>All with migrant <br>backgrounds</h5>
      <img src="assets/images/vis/section-2/Slide-3.svg" />
    </div>
    <div class="swiper-slide">
      <h5>Of diverse <br>ethnicities</h5>
      <img src="assets/images/vis/section-2/Slide-4.svg" />
    </div>
    <div class="swiper-slide">
      <h5>Most have a <br>higher education degree</h5>
      <img src="assets/images/vis/section-2/Slide-5.svg" />
    </div>
    <div class="swiper-slide">
      <h5>Across a wide <br>range of disciplines</h5>
      <img src="assets/images/vis/section-2/Slide-6.svg" />
    </div>
    <div class="swiper-slide">
      <h5>Nearly half <br>are mothers</h5>
      <img src="assets/images/vis/section-2/Slide-7.svg" />
    </div>
    <div class="swiper-slide">
      <h5>All are in, or close to, <br>their thirties</h5>
      <img src="assets/images/vis/section-2/Slide-8.svg" />
    </div>
    <div class="swiper-slide">
      <h5>Most are leading <br>an impact venture</h5>
      <img src="assets/images/vis/section-2/Slide-9.svg" />
    </div>
    <div class="swiper-slide">
      <h5>All have myriad <br>intersectional experiences</h5 class="text-center w-full">
      <img src="assets/images/vis/section-2/Slide-10.svg" />
    </div>
  </div>
  <!-- Pagination -->
  <div class="swiper-pagination"></div>
  <!-- Navigation buttons -->
  <div class="swiper-button-prev"></div>
  <div class="swiper-button-next"></div>
</div>