<h3>They are migrants</h3>
<p>10 out of the 12 founders are first generation migrants</p>

<div>
    <h3>They are highly educated</h3>
    <p><strong class="text-blue">11</strong> out of the 12 founders possess a higher education degree. 50% have a master's degree </p>

    <div class="unit-container unit-educated" style="--u-row: 6;">
        <div class="unit bg-blue"></div>
        <div class="unit bg-blue"></div>
        <div class="unit bg-blue"></div>
        <div class="unit bg-blue"></div>
        <div class="unit bg-blue"></div>
        <div class="unit bg-blue"></div>
        <div class="unit bg-blue"></div>
        <div class="unit bg-blue"></div>
        <div class="unit bg-blue"></div>
        <div class="unit bg-blue"></div>
        <div class="unit bg-blue"></div>
        <div class="unit bg-black"></div>
    </div>    
</div>


<h3>They are young</h3>
<p>The majority of founders were between 30-34 years old</p>




<h3>Nearly half are mothers</h3>
<p>5 out of 12 founders have children</p>

<h3>Their startups were created to make an impact</h3>
<p>83% of the founder's interviewed are leading an impact-driven venture</p>