<!-- Slider main container -->
<div class="swiper">
    <!-- Additional required wrapper -->
    <div class="swiper-wrapper">
      <!-- Slides -->
      <div class="swiper-slide">
        <h3>Meet our <br>Twelve Participants</h3>
        <img src="assets/images/vis/section-2/Slide-1.svg"/>
      </div>
      <div class="swiper-slide">
        <h3>All women of color <br>entrepreneurs</h3>
        <img src="assets/images/vis/section-2/Slide-2.svg"/>
      </div>
      <div class="swiper-slide">
        <h3>All with migrant <br>backgrounds</h3>
        <img src="assets/images/vis/section-2/Slide-3.svg"/>
      </div>
      <div class="swiper-slide">
        <h3>Of diverse <br>ethnicities</h3>
        <img src="assets/images/vis/section-2/Slide-4.svg"/>
      </div>
      <div class="swiper-slide">
        <h3>Most have a <br>higher education degree</h3>
        <img src="assets/images/vis/section-2/Slide-5.svg"/>
      </div>
      <div class="swiper-slide">
        <h3>Across a wide <br>range of disciplines</h3>
        <img src="assets/images/vis/section-2/Slide-6.svg"/>
      </div>
      <div class="swiper-slide">
        <h3>Nearly half <br>are mothers</h3>
        <img src="assets/images/vis/section-2/Slide-7.svg"/>
      </div>
      <div class="swiper-slide">
        <h3>All are in, or close to, <br>their thirties</h3>
        <img src="assets/images/vis/section-2/Slide-8.svg"/>
      </div>
      <div class="swiper-slide">
        <h3>Most are leading <br>an impact venture</h3>
        <img src="assets/images/vis/section-2/Slide-9.svg"/>
      </div>
      <div class="swiper-slide">
        <h3>All have myriad <br>intersectional experiences</h3>
        <img src="assets/images/vis/section-2/Slide-10.svg"/>
      </div>
    </div>
    <!-- Pagination -->
    <div class="swiper-pagination"></div>
  
    <!-- Navigation buttons -->
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
</div>


<!-- <h3>They are migrants</h3>
<p>10 out of the 12 founders are first generation migrants</p>

<div>
    <h3>They are highly educated</h3>
    <p><strong class="text-blue">11</strong> out of the 12 founders possess a higher education degree. 50% have a master's degree </p>

    <div class="unit-container unit-educated" style="--u-row: 6;">
        <div class="unit bg-blue"></div>
        <div class="unit bg-blue"></div>
        <div class="unit bg-blue"></div>
        <div class="unit bg-blue"></div>
        <div class="unit bg-blue"></div>
        <div class="unit bg-blue"></div>
        <div class="unit bg-blue"></div>
        <div class="unit bg-blue"></div>
        <div class="unit bg-blue"></div>
        <div class="unit bg-blue"></div>
        <div class="unit bg-blue"></div>
        <div class="unit bg-black"></div>
    </div>    
</div>


<h3>They are young</h3>
<p>The majority of founders were between 30-34 years old</p>




<h3>Nearly half are mothers</h3>
<p>5 out of 12 founders have children</p>

<h3>Their startups were created to make an impact</h3>
<p>83% of the founder's interviewed are leading an impact-driven venture</p> -->