<!-- Slider main container -->
<div class="swiper">
    <!-- Additional required wrapper -->
    <div class="swiper-wrapper">
        <!-- Slides -->
        <div class="swiper-slide">
            <img src="assets/images/vis/section-2/Slide1-a.svg" />
        </div>
        <div class="swiper-slide">
            <img src="assets/images/vis/section-2/Slide2-a.svg" />
        </div>
    </div>
    <!-- Pagination -->
    <div class="swiper-pagination"></div>

    <!-- Navigation buttons -->
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
</div>