<!-- Slider main container -->
<div class="swiper">
    <!-- Additional required wrapper -->
    <div class="swiper-wrapper">
        <!-- Slides -->
        <div class="swiper-slide">
            <img src="assets/images/vis/section-4/only1.png" />
        </div>
        <div class="swiper-slide">
            <img src="assets/images/vis/section-4/only2.png" />
        </div>
    </div>
    <!-- Pagination -->
    <div class="swiper-pagination pt-8"></div>

    <!-- Navigation buttons -->
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
</div>