@tailwind base;
@tailwind components;
@tailwind utilities;

/* Typefaces  */
@font-face {
    font-family: Hanson, 'Space Grotesk', sans-serif;
    src: url(../typefaces/hanson-bold.woff2);
    font-weight: bold;
}
h1 {
    font-family: Hanson;
}
html,
h2,
h3,
h4,
h5,
p {
    font-family: 'Space Grotesk', sans-serif;
}
.lead,
.cta {
    font-family: 'Space Mono', monospace;
}

/* Typography */
h1, 
h2,
h3,
h4,
h5,
button,
.cta {
    font-weight: bold;
    text-transform: uppercase;
}
h3 {
    font-weight: normal;
}
html, 
body,
p, 
a, 
ul, 
li, 
ol, 
table {
    font-size: 16px;
    line-height: 24px;
}
h1 {
    font-size: 30px;
    line-height: 36px;
}
h2,
button,
.cta {
    font-size: 24px;
    line-height: 32px;
}
h3 {
    font-size: 20px;
    line-height: 28px;
}
.lead {
    font-size: 18px;
    line-height: 28px;
}

@screen lg {
    html, 
    body,
    p, 
    a, 
    ul, 
    li, 
    ol, 
    table {
        font-size: 20px;
        line-height: 28px;
    }
    h1 {
        font-size: 60px;
        line-height: 60px;
    }
    h2,
    button,
    .cta {
        font-size: 32px;
        line-height: 40px;
    }
    h3 {
        font-size: 30px;
        line-height: 36px;
    }
    .lead {
        font-size: 24px;
        line-height: 32px;
    }
}

/* Spacing */

h1, 
h2,
h3,
h4,
h5,
p, 
ul, 
li,
button,
.cta {
    @apply my-4;
}

@screen lg {
    h1, 
    h2,
    h3,
    h4,
    h5,
    p, 
    ul, 
    li,
    button,
    .cta {
        @apply my-8;
    }
}