@tailwind base;
@tailwind components;
@tailwind utilities;

/* Typefaces  */
@font-face {
    font-family: Hanson;
    src: url(../typefaces/hanson-bold.woff2);
    /* src: url(/assets/typefaces/hanson-bold.woff2); didn't work */
    font-weight: bold;
}
h1,
blockquote,
blockquote p,
.text-hanson {
    font-family: Hanson, 'Space Grotesk', sans-serif;
}
html,
h2,
h3,
h4,
h5,
p,
.text-grotesk {
    font-family: 'Space Grotesk', sans-serif;
}
.lead,
.cta,
.text-mono {
    font-family: 'Space Mono', monospace;
}

/* Typography */
h1, 
h2,
h3,
h4,
h5,
button,
.cta {
    font-weight: bold;
    text-transform: uppercase;
}
h3 {
    font-weight: normal;
}
html, 
body,
p, 
a, 
ul, 
li, 
ol, 
table,
figcaption {
    @apply text-base;
}
h1 {
    @apply text-3xl;
}
h2,
button,
.cta {
    @apply text-2xl;
}
h3 {
    @apply text-xl;
}
.lead {
    @apply text-lg;
}

@screen lg {
    html, 
    body,
    p, 
    a, 
    ul, 
    li, 
    ol, 
    table,
    figcaption {
        font-size: 20px;
        line-height: 28px;
    }
    h1 {
        @apply text-6xl;
    }
    h2,
    button,
    .cta {
        font-size: 32px;
        line-height: 40px;
    }
    h3 {
        @apply text-3xl;
    }
    .lead {
        @apply text-2xl;
    }
}

/* Spacing */

h1, 
h2,
h3,
h4,
h5,
p, 
ul, 
li,
button,
.cta {
    @apply my-4;
}

@screen lg {
    h1, 
    h2,
    h3,
    h4,
    h5,
    p, 
    ul, 
    li,
    button,
    .cta {
        @apply my-8;
    }
}

section {
    @apply my-16
}

@screen lg {
    section {
        @apply my-24;
    }
}

/* Components */


/* Blockquotes */

figure {
    @apply my-12;
    @apply px-6;
}

blockquote,
blockquote p {
    @apply text-2xl;
}

@screen lg {
    blockquote,
    blockquote p  {
        @apply text-3xl;
    }
}

/* Captions */
figcaption {
    @apply text-gray-dark;
}

/* Cards */
.stat-card {
    @apply bg-blue;
    @apply text-white;
    @apply px-4;
    @apply py-8;
    text-align: center;
}

/* Symbols */

.symbol {
    width: 48px;
    height: 48px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    background-color: black;
    display: inline-block;
}

.Warmth {
    background-image: url('assets/images/symb/Warmth.svg');
}
.Blooming {
    background-image: url('assets/images/symb/Blooming.svg');
}
.Calm {
    background-image: url('assets/images/symb/Calm.svg');
}
.Cents {
    background-image: url('assets/images/symb/Cents.svg');
}
.Connected {
    background-image: url('assets/images/symb/Connected.svg');
}
.Connective {
    background-image: url('assets/images/symb/Connective.svg');
}
.Continuous {
    background-image: url('assets/images/symb/Continuous Growth.svg');
}
.Direction {
    background-image: url('assets/images/symb/Direction.svg');
}
.Emerging {
    background-image: url('assets/images/symb/Emerging.svg');
}
.Energized {
    background-image: url('assets/images/symb/Energized.svg');
}
.Enhanced {
    background-image: url('assets/images/symb/Enhanced.svg');
}
.Expanding {
    background-image: url('assets/images/symb/Expanding 2.svg');
}
.For {
    background-image: url('assets/images/symb/For People.svg');
}
.Forward {
    background-image: url('assets/images/symb/Forward 2.svg');
}
.Forward {
    background-image: url('assets/images/symb/Forward.svg');
}
.Goals {
    background-image: url('assets/images/symb/Goals.svg');
}
.Haven {
    background-image: url('assets/images/symb/Haven 2.svg');
}
.Haven {
    background-image: url('assets/images/symb/Haven.svg');
}
.Inclusive {
    background-image: url('assets/images/symb/Inclusive.svg');
}
.Intersectional {
    background-image: url('assets/images/symb/Intersectional.svg');
}
.Invest {
    background-image: url('assets/images/symb/Invest 2.svg');
}
.Invest {
    background-image: url('assets/images/symb/Invest.svg');
}
.Moving {
    background-image: url('assets/images/symb/Moving Together.svg');
}
.Multiplication {
    background-image: url('assets/images/symb/Multiplication.svg');
}
.Navigating {
    background-image: url('assets/images/symb/Navigating.svg');
}
.No {
    background-image: url('assets/images/symb/No Boundaries.svg');
}
.Open {
    background-image: url('assets/images/symb/Open.svg');
}
.Powerful {
    background-image: url('assets/images/symb/Powerful.svg');
}
.Reference {
    background-image: url('assets/images/symb/Reference.svg');
}
.Security {
    background-image: url('assets/images/symb/Security.svg');
}
.Stability {
    background-image: url('assets/images/symb/Stability.svg');
}
.Symbols {
    background-image: url('assets/images/symb/Symbols.svg');
}
.Symbols {
    background-image: url('assets/images/symb/Symbols-1.svg');
}
.Team {
    background-image: url('assets/images/symb/Team.svg');
}
.Transparent {
    background-image: url('assets/images/symb/Transparent 2.svg');
}
.Uplift {
    background-image: url('assets/images/symb/Uplift.svg');
}
.Value {
    background-image: url('assets/images/symb/Value.svg');
}
.Visibility {
    background-image: url('assets/images/symb/Visibility.svg');
}