@media print {

    // TODO
    // define variables for a page width and height so we can fine tune it with victor's computer
    
* {
    -webkit-print-color-adjust: exact;
        print-color-adjust: exact;  
}
section {
    page-break-before: always;
}

}