<!DOCTYPE html>
<html lang="{{ site.lang | default: page.lang | default: 'en' }}" class="scroll-smooth selection:bg-lime">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>
  <link rel="icon" type="image/png" href="assets/images/logos/favicon.png">
  <meta name="description"
    content="{{ page.excerpt | default: site.description | strip_html | normalize_whitespace | truncate: 160 | escape }}">

  <!-- Alpine Plugins -->
  <script defer src="https://unpkg.com/@alpinejs/collapse@3.x.x/dist/cdn.min.js"></script>
  <script defer src="https://unpkg.com/@alpinejs/intersect@3.x.x/dist/cdn.min.js"></script>
  <!--Alpine Js framework-->
  <script defer src="https://unpkg.com/alpinejs@3.x.x/dist/cdn.min.js"></script>
  <!-- chart.js -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.9.1/chart.min.js"
    integrity="sha512-ElRFoEQdI5Ht6kZvyzXhYG9NqjtkmlkfYk0wr6wHxU9JEHakS7UJZNeml5ALk+8IKlU6jDgMabC3vkumRokgJA=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <!-- typefaces -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;700&family=Space+Mono:wght@400;700&display=swap"
    rel="stylesheet">
  <!-- styles -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css">
  <link rel="stylesheet" href="assets/styles/output.css">
  <!--gutenberg print boilerplate-->
  <!-- <link rel="stylesheet" href="https://unpkg.com/gutenberg-css@0.6" media="print"> -->
  <link rel="stylesheet" href="assets/styles/print.css" media="print">
</head>

<body x-data="{navOpen: false, scrolledFromTop: false, topColor: 'blue', fullScreen: true, content: '', bottom: false}"
  x-init="window.pageYOffset >= 50 ? scrolledFromTop = true : scrolledFromTop = false"
  @scroll.window="window.pageYOffset >= 50 ? scrolledFromTop = true : scrolledFromTop = false; if (window.pageYOffset <= 50) { topColor = 'blue', content='' }"
  x-on:resize.window="fullScreen = (window.innerHeight < 650) ? false : true">
  <!-- see index.html -->

  {{ content }}

  <div x-data="scrollProgress()" x-init="init()" x-cloak x-show="!bottom" class="noprint fixed inset-x-0 bottom-0 z-50">
    <div class="w-full bg-black">
      <div class="h-2 bg-lime" :style="`width: ${percent}%`"></div>
    </div>
  </div>
  {% include cookie-consent.html %}

  <!-- SCRIPTS -->
  <script src="https://code.jquery.com/jquery-3.6.0.slim.min.js"
    integrity="sha256-u7e5khyithlIdTpu22PHhENmPcRdFiHRjhAuHcs05RI=" crossorigin="anonymous"></script>
  <!--slider-->
  <script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>
  <!--custom scripts-->
  <script src="assets/js/scripts.js"></script>
</body>

</html>