<!DOCTYPE html>
<html lang="{{ site.lang | default: page.lang | default: 'en' }}">

  {% include head.html %}

  <body>

    
    <header class="p-8">
      <h1>Rise & Thrive Report</h1>
      <h2>Qualitative research report on Women of Color Founders in Berlin</h2>
    </header>
    <div class="fdl-wrapper md:grid grid-cols-4 gap-8 my-8 md:container mx-auto">
      <nav class="fdl-sidebar sticky hidden md:block top-8">
        {% include nav.html %}
      </nav>
      <main class="fdl-content col-span-3">
        {{ content }}
      </main>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.slim.min.js" integrity="sha256-u7e5khyithlIdTpu22PHhENmPcRdFiHRjhAuHcs05RI=" crossorigin="anonymous"></script>
  </body>

</html>
